Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: dprint fmt
  language: system
  pass_filenames: false

Chore/remove unused docs (#70)
  CLAUDE.md
  README-workspace.md
Due: dprint-fmt

python-binging markdown converting
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

python-binging markdown converting (#71)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

Refactor: split into modules
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/utils.rs
Due: cargo-fmt

fix: Handle both null and undefined in WASM PMC availability test
  pubmed-client-wasm/tests/simple.test.ts
Due: none

fix: Make integration tests resilient to transient API errors
  pubmed-client-py/tests/test_integration.py
Due: none

fix: Make ESearch response fields optional and handle API errors gracefully
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/responses.rs
Due: cargo-fmt

fix
  pubmed-client-py/tests/test_integration.py
Due: none

Refactor: split into modules (#72)
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/utils.rs
  pubmed-client-py/tests/test_integration.py
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/responses.rs
Due: cargo-fmt

added simple query
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

update settings
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/settings.json
  .gitignore
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  etc/setup-claude-web.sh
Due: dprint-fmt

setup
  .mise.toml
Due: dprint-fmt

Feature/setup remote (#74)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/settings.json
  .gitignore
  .mise.toml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  etc/setup-claude-web.sh
Due: dprint-fmt

docs: establish constitution v1.0.0 with project governance principles
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Due: dprint-fmt

Add Related Projects section to README
  README.md
Due: dprint-fmt

test: Add comprehensive unit tests for error module
  pubmed-client/src/error.rs
Due: cargo-fmt

fix: Update dprint exclude pattern for test_data
  dprint.json
Due: dprint-fmt

fix: Make LFS tracking check gracefully skip when git-lfs is unavailable
  etc/check_lfs_tracking.sh
Due: none

update workflow and mise.toml
  .github/workflows/lfs-check.yml
  .mise.toml
  .pre-commit-config.yaml
Due: dprint-fmt

update workflow
  .github/workflows/lfs-check.yml
Due: dprint-fmt

Add Related Projects section to README (#76)
  README.md
Due: dprint-fmt

update workflow and mise.toml (#78)
  .github/workflows/lfs-check.yml
  .mise.toml
  .pre-commit-config.yaml
Due: dprint-fmt

added simple query (#73)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

docs: establish constitution v1.0.0 with project governance principles (#75)
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Due: dprint-fmt

chore
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Due: dprint-fmt

dpirnt settings
  dprint.json
Due: dprint-fmt

Fix/chore linting (#79)
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  dprint.json
Due: dprint-fmt

update
  dprint.json
  etc/setup-claude-web.sh
Due: dprint-fmt

update (#80)
  dprint.json
  etc/setup-claude-web.sh
Due: dprint-fmt

chore: update dprint config and agent context for query builder feature
  CLAUDE.md
  dprint.json
Due: dprint-fmt

update speckit for claude web
  .mise.toml
  .specify/scripts/bash/common.sh
  etc/check_lfs_tracking.sh
  etc/setup-test.sh
  scripts/download_all_verified_xml.sh
  scripts/download_einfo_fixtures.sh
  scripts/download_elink_fixtures.sh
  scripts/download_pubmed_xml.sh
Due: dprint-fmt

update speckit for claude web (#81)
  .mise.toml
  .specify/scripts/bash/common.sh
  etc/check_lfs_tracking.sh
  etc/setup-test.sh
  scripts/download_all_verified_xml.sh
  scripts/download_einfo_fixtures.sh
  scripts/download_elink_fixtures.sh
  scripts/download_pubmed_xml.sh
Due: dprint-fmt

WIP: Add SearchQuery Python bindings (P1 implementation blocked)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt

fix: Use .flatten() instead of manual if let Some pattern in terms() method
  pubmed-client-py/src/query.rs
Due: cargo-fmt

chore: Add FBT exceptions for test files and fix unused import
  pubmed-client-py/pyproject.toml
  pubmed-client-py/tests/test_query_integration.py
Due: dprint-fmt

chore: Remove docstrings from type stub file
  pubmed-client-py/pubmed_client.pyi
Due: none

fix: Correct type signature for terms() to accept list[str | None]
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/tests/test_query.py
Due: none

fix: Use Sequence instead of list for terms() parameter type
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/tests/test_query_integration.py
Due: none

chore: migrate .biomeignore patterns to biome.json
  .biomeignore
  pubmed-client-wasm/biome.json
Due: dprint-fmt

chore: migrate .biomeignore patterns to biome.json (#83)
  .biomeignore
  pubmed-client-wasm/biome.json
Due: dprint-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
