Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

update python ci (#64)
  .github/workflows/python.yml
Due: dprint-fmt

update search tools and refactor core search builder
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/search.rs
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/src/tools/mod.rs
  pubmed-mcp-server/src/tools/search.rs
Due: cargo-fmt, dprint-fmt

update search tools and refactor core search builder (#65)
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/search.rs
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/src/tools/mod.rs
  pubmed-mcp-server/src/tools/search.rs
Due: cargo-fmt, dprint-fmt

mcp-tool-markdown
  pubmed-client/src/pmc/markdown.rs
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/src/tools/markdown.rs
  pubmed-mcp-server/src/tools/mod.rs
  pubmed-mcp-server/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

update core library
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-mcp-server/src/tools/markdown.rs
  pubmed-mcp-server/src/tools/search.rs
Due: cargo-fmt

test for pmc id extractiong
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt

Update pubmed-mcp-server/README.md
  pubmed-mcp-server/README.md
Due: dprint-fmt

mcp-tool-markdown (#66)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/src/tools/markdown.rs
  pubmed-mcp-server/src/tools/mod.rs
  pubmed-mcp-server/src/tools/search.rs
  pubmed-mcp-server/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

update README
  README.md
Due: dprint-fmt

chore
  CLAUDE.md
Due: dprint-fmt

Update README (#67)
  CLAUDE.md
  README.md
Due: dprint-fmt

rename mcp-server
  .github/workflows/test-mcp-server.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

release workflow
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  CLAUDE.md
Due: dprint-fmt

workflow dispatch
  .github/workflows/release.yml
  CLAUDE.md
Due: dprint-fmt

chore
  .github/workflows/release.yml
Due: dprint-fmt

Release for crates.io (#68)
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  .github/workflows/test-mcp-server.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

fix: Add version requirements to path dependencies for crates.io publishing
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-client-py/Cargo.toml
  pubmed-client-wasm/Cargo.toml
  pubmed-mcp/Cargo.toml
Due: dprint-fmt

docs: Add version management guidelines to CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

refactor: Simplify release workflow with dedicated publish decision job
  .github/workflows/release.yml
  CLAUDE.md
Due: dprint-fmt

refactor: Make workflow_dispatch always dry-run for safety
  .github/workflows/release.yml
  CLAUDE.md
Due: dprint-fmt

fix: Remove create-release dependency from publish jobs
  .github/workflows/release.yml
Due: dprint-fmt

refactor: Run tests before creating GitHub release
  .github/workflows/release.yml
Due: dprint-fmt

fix: Allow independent package publishing
  .github/workflows/release.yml
Due: dprint-fmt

refactor: Rename core library from pubmed-client-rs to pubmed-client
  .mise.toml
  CLAUDE.md
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/search.rs
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-wasm/Cargo.toml
  pubmed-client-wasm/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/tests/integration/common/integration_test_utils.rs
  pubmed-client/tests/integration/comprehensive_einfo_tests.rs
  pubmed-client/tests/integration/comprehensive_elink_tests.rs
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
  pubmed-client/tests/integration/error_handling_tests.rs
  pubmed-client/tests/integration/markdown_tests.rs
  pubmed-client/tests/integration/pmc_api_tests.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/pubmed_api_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_einfo_integration.rs
  pubmed-client/tests/integration/test_elink_integration.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
  pubmed-client/tests/integration/test_integration_abstract.rs
  pubmed-client/tests/integration/test_mesh_integration.rs
  pubmed-client/tests/integration/test_pmc_cache.rs
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
  pubmed-client/tests/integration/test_real_api_rate_limiting.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
  pubmed-client/tests/test_retry_logic.rs
  pubmed-mcp/Cargo.toml
Due: cargo-fmt, dprint-fmt

fix: Resolve Python bindings lib name collision and PyO3 version compatibility
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .mise.toml
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

chore: remove pubmed_xml files to convert to LFS pointers
  pubmed-client/tests/integration/test_data/pubmed_xml/27350240.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/28495875.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/29540945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/31978945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/32887691.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/33515491.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/34567890.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/35123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/36789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/37456789.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/38123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/39789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/40456789.xml
Due: none

chore: re-add pubmed_xml files as LFS pointers
  pubmed-client/tests/integration/test_data/pubmed_xml/27350240.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/28495875.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/29540945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/31978945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/32887691.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/33515491.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/34567890.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/35123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/36789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/37456789.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/38123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/39789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/40456789.xml
Due: none

lfs
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10200000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10300000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10400000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10618641.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10653940.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10767945.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10777901.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10821037.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10906259.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC3500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC4500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC5000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC6000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC6500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC7500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC9000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC9500000.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/25760099.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/26846451.xml
Due: none

chore: Add LFS tracking check script and integrate with mise lint
  .mise.toml
  etc/check_lfs_tracking.sh
Due: dprint-fmt

fix: Update LFS check script to check Git objects instead of working directory
  etc/check_lfs_tracking.sh
Due: none

remove-unused-docs
  README-workspace.md
Due: dprint-fmt

reorganaize claude md
  CLAUDE.md
Due: dprint-fmt
