Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: mise exec -- dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

Claude/add python is oa subset pyazc (#121)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

Chore/remove speckit (#122)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: dprint-fmt

steream
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/test_webenv.rs
Due: cargo-fmt, dprint-fmt

parser
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
Due: cargo-fmt

steream (#123)
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/test_webenv.rs
Due: cargo-fmt, dprint-fmt

feat(napi): add streaming search with AsyncIterator support
  pubmed-client-napi/package.json
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/streaming.d.ts
  pubmed-client-napi/streaming.js
  pubmed-client-napi/tests/streaming.test.ts
Due: cargo-fmt, dprint-fmt

ci
  pubmed-client-napi/vitest.config.ts
Due: none

docs: add project evolution roadmap (ROADMAP.md)
  ROADMAP.md
Due: dprint-fmt

feat: add batch fetch_articles for efficient multi-PMID retrieval
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

test: add integration tests for batch fetch_articles
  pubmed-client/Cargo.toml
  pubmed-client/tests/integration/test_batch_fetch_api.rs
  pubmed-client/tests/integration/test_batch_fetch_mocked.rs
Due: cargo-fmt, dprint-fmt

chore: remove ROADMAP.md, fix common::tests LFS pointer failures
  ROADMAP.md
  pubmed-client/tests/integration/common/mod.rs
Due: cargo-fmt, dprint-fmt

feat: add ECitMatch and EGQuery API support across all layers
  pubmed-cli/src/commands/citmatch.rs
  pubmed-cli/src/commands/gquery.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

fix: extract DOI from PubmedData/ArticleIdList fallback, unify fetch_article
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/tests/integration/test_batch_fetch_mocked.rs
Due: cargo-fmt

Add batch article fetching API across all language bindings (#125)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/test_batch_fetch_api.rs
  pubmed-client/tests/integration/test_batch_fetch_mocked.rs
Due: cargo-fmt, dprint-fmt

feat: add ECitMatch and EGQuery API support across all layers (#126)
  pubmed-cli/src/commands/citmatch.rs
  pubmed-cli/src/commands/gquery.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

Rewrite CLAUDE.md: concise, accurate, reflect current codebase
  CLAUDE.md
Due: dprint-fmt

Rewrite CLAUDE.md: concise, accurate, reflect current codebase (#127)
  CLAUDE.md
Due: dprint-fmt

Add feature gap analysis report comparing with other PubMed clients
  docs/feature-gap-analysis.md
Due: dprint-fmt

Expand gap analysis with full cross-library comparison table
  docs/feature-gap-analysis.md
Due: dprint-fmt

Strengthen uniqueness section with ecosystem-wide gap findings
  docs/feature-gap-analysis.md
Due: dprint-fmt

feat: add bibliographic fields to PubMedArticle (volume, issue, pages, language, journal_abbreviation, issn)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

feat: add search result sorting and query translation support
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/query.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/mod.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/test_search_options.rs
  pubmed-client/tests/integration/test_webenv.rs
  pubmed-mcp/src/tools/search.rs
Due: cargo-fmt, dprint-fmt

test: add robust cross-check guards for Optional bibliographic fields
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt

Add bibliographic fields to PubMed article parsing (#128)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt

feat: add search result sorting and query translation support (#129)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/query.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/mod.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/test_search_options.rs
  pubmed-client/tests/integration/test_webenv.rs
  pubmed-mcp/src/tools/search.rs
Due: cargo-fmt, dprint-fmt

feat: add EPost API for uploading PMID lists to History server
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/test_epost_mocked.rs
  pubmed-client/tests/integration/test_webenv.rs
Due: cargo-fmt, dprint-fmt

feat: add ESummary API for lightweight metadata fetching
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/summary.rs
Due: cargo-fmt

feat: add ESpell API support for spelling suggestions across all layers
  pubmed-cli/src/commands/espell.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

feat: add fetch_all_by_pmids for convenient large PMID list fetching
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/tests/integration/test_epost_mocked.rs
Due: cargo-fmt

feat: add ESummary API for lightweight metadata fetching (#131)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/summary.rs
Due: cargo-fmt

style: apply cargo fmt formatting to fetch_all_by_pmids code
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/tests/integration/test_epost_mocked.rs
Due: cargo-fmt

feat: add ESpell API support for spelling suggestions across all layers (#132)
  pubmed-cli/src/commands/espell.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

refactor: organize integration tests into categorized subdirectories
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/tests/integration/api/batch_fetch.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/api/pubmed.rs
  pubmed-client/tests/integration/api/rate_limiting.rs
  pubmed-client/tests/integration/api/webenv.rs
  pubmed-client/tests/integration/mocked/batch_fetch.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/mocked/rate_limiting.rs
  pubmed-client/tests/integration/mocked/search_options.rs
  pubmed-client/tests/integration/mocked/supplementary.rs
  pubmed-client/tests/integration/mocked/tar.rs
  pubmed-client/tests/integration/parsing/einfo.rs
  pubmed-client/tests/integration/parsing/elink.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_einfo_integration.rs
  pubmed-client/tests/integration/test_elink_integration.rs
  pubmed-client/tests/integration/test_integration_abstract.rs
  pubmed-client/tests/integration/test_mesh_integration.rs
Due: cargo-fmt, dprint-fmt

fix: remove unused Client import in api/pubmed.rs
  pubmed-client/tests/integration/api/pubmed.rs
Due: cargo-fmt

refactor: simplify codebase by removing redundant types, methods, and error variants
  pubmed-cli/src/commands/search.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/models.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_batch_fetch_mocked.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
  pubmed-client/tests/integration/test_real_api_rate_limiting.rs
  pubmed-client/tests/integration/test_search_options.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
  pubmed-mcp/src/tools/search.rs
Due: cargo-fmt

Fix missing sort_order arg in integration-feature-gated tests
  pubmed-client/tests/integration/error_handling_tests.rs
  pubmed-client/tests/integration/pmc_api_tests.rs
  pubmed-client/tests/integration/pubmed_api_tests.rs
  pubmed-client/tests/integration/test_batch_fetch_api.rs
Due: cargo-fmt

refactor: simplify codebase by removing redundant types, methods, and error variants (#133)
  pubmed-cli/src/commands/search.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/models.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/tests/integration/error_handling_tests.rs
  pubmed-client/tests/integration/pmc_api_tests.rs
  pubmed-client/tests/integration/pubmed_api_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_batch_fetch_api.rs
  pubmed-client/tests/integration/test_batch_fetch_mocked.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
  pubmed-client/tests/integration/test_real_api_rate_limiting.rs
  pubmed-client/tests/integration/test_search_options.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
  pubmed-mcp/src/tools/search.rs
Due: cargo-fmt

Add test coverage analysis with prioritized improvement recommendations
  TEST_COVERAGE_ANALYSIS.md
Due: dprint-fmt

style: fix markdown formatting in test coverage analysis
  TEST_COVERAGE_ANALYSIS.md
Due: dprint-fmt

agents.md
  AGENTS.md
Due: dprint-fmt
