Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

merge and fix
  tests/integration/test_data/pmc_xml/PMC10000000.xml
  tests/integration/test_data/pmc_xml/PMC10200000.xml
  tests/integration/test_data/pmc_xml/PMC10300000.xml
  tests/integration/test_data/pmc_xml/PMC10400000.xml
  tests/integration/test_data/pmc_xml/PMC10500000.xml
  tests/integration/test_data/pmc_xml/PMC10618641.xml
  tests/integration/test_data/pmc_xml/PMC10653940.xml
  tests/integration/test_data/pmc_xml/PMC10767945.xml
  tests/integration/test_data/pmc_xml/PMC10777901.xml
  tests/integration/test_data/pmc_xml/PMC10821037.xml
  tests/integration/test_data/pmc_xml/PMC10906259.xml
  tests/integration/test_data/pmc_xml/PMC3500000.xml
  tests/integration/test_data/pmc_xml/PMC4500000.xml
  tests/integration/test_data/pmc_xml/PMC5000000.xml
  tests/integration/test_data/pmc_xml/PMC6000000.xml
  tests/integration/test_data/pmc_xml/PMC6500000.xml
  tests/integration/test_data/pmc_xml/PMC7500000.xml
  tests/integration/test_data/pmc_xml/PMC9000000.xml
  tests/integration/test_data/pmc_xml/PMC9500000.xml
  tests/integration/test_data/pubmed_xml/25760099.xml
  tests/integration/test_data/pubmed_xml/26846451.xml
  tests/integration/test_data/pubmed_xml/27350240.xml
  tests/integration/test_data/pubmed_xml/28495875.xml
  tests/integration/test_data/pubmed_xml/29540945.xml
  tests/integration/test_data/pubmed_xml/31978945.xml
  tests/integration/test_data/pubmed_xml/32887691.xml
  tests/integration/test_data/pubmed_xml/33515491.xml
  tests/integration/test_data/pubmed_xml/34567890.xml
  tests/integration/test_data/pubmed_xml/35123456.xml
  tests/integration/test_data/pubmed_xml/36789012.xml
  tests/integration/test_data/pubmed_xml/37456789.xml
  tests/integration/test_data/pubmed_xml/38123456.xml
  tests/integration/test_data/pubmed_xml/39789012.xml
  tests/integration/test_data/pubmed_xml/40456789.xml
  tests/integration/test_real_api_rate_limiting.rs
Due: cargo-fmt

feat: implement retry logic with exponential backoff for network failures (#6) (#22)
  Cargo.lock
  Cargo.toml
  README.md
  src/config.rs
  src/error.rs
  src/lib.rs
  src/pmc/client.rs
  src/pubmed/client.rs
  src/retry.rs
  tests/integration/test_rate_limiting_mocked.rs
  tests/integration/test_real_api_rate_limiting.rs
  tests/test_retry_logic.rs
Due: cargo-fmt, dprint-fmt

feat: implement retry logic with exponential backoff for network failures (#6) (#22) (#23)
  .claude/commands/pr.md
  src/lib.rs
  src/pubmed/mod.rs
  src/pubmed/models.rs
  src/pubmed/parser.rs
  src/pubmed/query.rs
  tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt, dprint-fmt

feat: enhance query builder with advanced PubMed search features (#9)
  src/error.rs
  src/pubmed/query.rs
Due: cargo-fmt

refactor: simplify date API with unified PubDate type
  src/pubmed/mod.rs
  src/pubmed/query.rs
Due: cargo-fmt

remove redundunt filter
  src/pubmed/query.rs
Due: cargo-fmt

split query
  src/pubmed/query.rs
  src/pubmed/query/advanced.rs
  src/pubmed/query/boolean.rs
  src/pubmed/query/builder.rs
  src/pubmed/query/date.rs
  src/pubmed/query/dates.rs
  src/pubmed/query/filters.rs
  src/pubmed/query/mod.rs
  src/pubmed/query/search.rs
  src/pubmed/query/validation.rs
Due: cargo-fmt

added test
  src/pubmed/query/advanced.rs
  src/pubmed/query/boolean.rs
  src/pubmed/query/builder.rs
  src/pubmed/query/date.rs
  src/pubmed/query/dates.rs
  src/pubmed/query/filters.rs
  src/pubmed/query/search.rs
  src/pubmed/query/validation.rs
Due: cargo-fmt

feat: enhance query builder with advanced PubMed search features (#9) (#24)
  src/error.rs
  src/pubmed/mod.rs
  src/pubmed/query.rs
  src/pubmed/query/advanced.rs
  src/pubmed/query/boolean.rs
  src/pubmed/query/builder.rs
  src/pubmed/query/date.rs
  src/pubmed/query/dates.rs
  src/pubmed/query/filters.rs
  src/pubmed/query/mod.rs
  src/pubmed/query/search.rs
  src/pubmed/query/validation.rs
Due: cargo-fmt

feat: add comprehensive integration tests with real NCBI API calls (#5)
  .github/workflows/integration-tests.yml
  Cargo.toml
  tests/integration/common/mod.rs
  tests/integration/error_handling_tests.rs
  tests/integration/pmc_api_tests.rs
  tests/integration/pubmed_api_tests.rs
Due: cargo-fmt, dprint-fmt

update CLAUDE.md
  CLAUDE.md
  Cargo.toml
Due: dprint-fmt

refactor: clean up integration test utilities organization
  tests/integration/common/integration_test_utils.rs
  tests/integration/common/mod.rs
  tests/integration/error_handling_tests.rs
  tests/integration/pmc_api_tests.rs
  tests/integration/pubmed_api_tests.rs
Due: cargo-fmt

Feature/integration tests real api 5 (#25)
  .github/workflows/integration-tests.yml
  CLAUDE.md
  Cargo.toml
  tests/integration/common/integration_test_utils.rs
  tests/integration/common/mod.rs
  tests/integration/error_handling_tests.rs
  tests/integration/pmc_api_tests.rs
  tests/integration/pubmed_api_tests.rs
Due: cargo-fmt, dprint-fmt

tmp
  .gitignore
  Cargo.lock
  Cargo.toml
  README-WASM.md
  WASM-IMPLEMENTATION-STATUS.md
  examples/wasm_example.js
  package.json
  src/config.rs
  src/error.rs
  src/lib.rs
  src/pmc/client.rs
  src/pubmed/client.rs
  src/rate_limit.rs
  src/rate_limit/mod.rs
  src/retry.rs
  src/time.rs
  src/wasm.rs
  test_wasm.js
  wasm-types.d.ts
Due: cargo-fmt, dprint-fmt

wasm
  .mise.toml
  Cargo.toml
  src/pmc/client.rs
  src/pubmed/client.rs
  src/rate_limit/mod.rs
  src/wasm.rs
  tests/integration/error_handling_tests.rs
Due: cargo-fmt, dprint-fmt

fix rate limit
  .mise.toml
  Cargo.toml
  src/rate_limit.rs
Due: cargo-fmt, dprint-fmt

fix time
  src/time.rs
Due: cargo-fmt

fix: resolve all clippy uninlined_format_args warnings
  WASM-IMPLEMENTATION-STATUS.md
  src/config.rs
  src/pmc/client.rs
  src/pmc/markdown.rs
  src/pmc/models.rs
  src/pmc/parser.rs
  src/pubmed/client.rs
  src/pubmed/models.rs
  src/pubmed/parser.rs
  src/pubmed/query/boolean.rs
  src/pubmed/query/dates.rs
  src/pubmed/query/filters.rs
  src/wasm.rs
  tests/integration/pmc_api_tests.rs
  tests/integration/pubmed_api_tests.rs
  tests/integration/test_rate_limiting_mocked.rs
  tests/integration/test_real_api_rate_limiting.rs
Due: cargo-fmt, dprint-fmt

wasm test
  .github/workflows/test.yml
  .gitignore
  .mise.toml
  .npmrc
  examples/wasm_example.js
  package.json
  pnpm-lock.yaml
  test_wasm.js
  tests/wasm/setup.ts
  tests/wasm/simple.test.ts
  tsconfig.json
  vitest.config.ts
  wasm-types.d.ts
Due: dprint-fmt

wasm ci
  .biomeignore
  .github/workflows/test.yml
  CLAUDE.md
  biome.json
  dprint.json
  package.json
  pnpm-lock.yaml
  tests/wasm/setup.ts
  tests/wasm/simple.test.ts
  tsconfig.json
  vitest.config.ts
Due: dprint-fmt

update wasm type
  .mise.toml
  Cargo.lock
  Cargo.toml
  WASM-IMPLEMENTATION-STATUS.md
  examples/wasm_example.js
  src/wasm.rs
  tests/wasm/setup.ts
  tests/wasm/simple.test.ts
Due: cargo-fmt, dprint-fmt

remove unused
  WASM-IMPLEMENTATION-STATUS.md
Due: dprint-fmt

wasm (#26)
  .biomeignore
  .github/workflows/test.yml
  .gitignore
  .mise.toml
  .npmrc
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README-WASM.md
  biome.json
  dprint.json
  package.json
  pnpm-lock.yaml
  src/config.rs
  src/error.rs
  src/lib.rs
  src/pmc/client.rs
  src/pmc/markdown.rs
  src/pmc/models.rs
  src/pmc/parser.rs
  src/pubmed/client.rs
  src/pubmed/models.rs
  src/pubmed/parser.rs
  src/pubmed/query/boolean.rs
  src/pubmed/query/dates.rs
  src/pubmed/query/filters.rs
  src/rate_limit.rs
  src/retry.rs
  src/time.rs
  src/wasm.rs
  tests/integration/error_handling_tests.rs
  tests/integration/pmc_api_tests.rs
  tests/integration/pubmed_api_tests.rs
  tests/integration/test_rate_limiting_mocked.rs
  tests/integration/test_real_api_rate_limiting.rs
  tests/wasm/setup.ts
  tests/wasm/simple.test.ts
  tsconfig.json
  vitest.config.ts
Due: cargo-fmt, dprint-fmt

fix: resolve CI lint errors and update Git LFS configuration
  .gitattributes
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/comprehensive_elink_tests.rs
Due: cargo-fmt

fix: escape TypeScript type annotations in rustdoc comments
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt

fix: resolve all remaining CI issues
  .github/workflows/test.yml
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/comprehensive_einfo_tests.rs
  pubmed-client/tests/integration/comprehensive_elink_tests.rs
Due: cargo-fmt, dprint-fmt

Fix clippy::uninlined_format_args warnings in test files
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
Due: cargo-fmt
