Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: mise exec -- dprint fmt
  language: system
  pass_filenames: false

update tasks
  .github/workflows/napi.yml
  .github/workflows/python.yml
  mise.node.toml
  mise.python.toml
  mise.root.toml
  pubmed-client-py/Cargo.toml
Due: dprint-fmt

python
  .github/actions/setup-repo/action.yml
  .github/workflows/docs.yml
  .github/workflows/python.yml
  CLAUDE.md
Due: dprint-fmt

fix docs
  .github/actions/setup-repo/action.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/wasm.yml
Due: dprint-fmt

fix
  .github/workflows/_publish-crate.yml
  .github/workflows/ci-lfs.yml
  .github/workflows/ci-napi.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-root.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-wasm.yml
  .github/workflows/docs.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
Due: dprint-fmt

doctests
  .github/workflows/ci-rust.yml
Due: dprint-fmt

split mise and fix ci setup (#164)
  .github/actions/setup-repo/action.yml
  .github/workflows/_publish-crate.yml
  .github/workflows/ci-lfs.yml
  .github/workflows/ci-napi.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-root.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-wasm.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/python.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/test-mcp-server.yml
  .gitignore
  .mise.toml
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  etc/postinstall.sh
  mise.node.toml
  mise.python.toml
  mise.root.toml
  mise.rust.toml
  mise.toml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/index.d.ts
  pubmed-client-py/Cargo.toml
Due: dprint-fmt

fix claude settings and mise.toml
  .claude/hooks/common.sh
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  .claude/settings.json
  .pre-commit-config.yaml
  Cargo.toml
  DEVELOPMENT.md
  etc/postinstall.sh
  etc/setup-claude-web.sh
  mise.node.toml
  mise.python.toml
  mise.root.toml
  mise.rust.toml
  mise.toml
Due: dprint-fmt

fix
  .github/workflows/ci-rust.yml
  mise.rust.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/rate_limit.rs
  pubmed-client/src/retry.rs
  pubmed-client/tests/integration/api/batch_fetch.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/api/pubmed.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-formatter/src/lib.rs
  pubmed-formatter/src/pubmed/export.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/tests/integration_test.rs
  pubmed-parser/src/common/mod.rs
  pubmed-parser/src/pmc/oa_api.rs
  pubmed-parser/src/pubmed/parser/mod.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
  pubmed-parser/tests/integration/parsing/pubmed.rs
Due: cargo-fmt, dprint-fmt

adujust tasks
  .github/workflows/ci-rust.yml
  mise.node.toml
  mise.python.toml
  mise.rust.toml
Due: dprint-fmt

lint errors
  .cargo/config.toml
  Cargo.lock
  pubmed-cli/src/commands/storage.rs
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/query.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/models.rs
  pubmed-parser/src/pmc/oa_api.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/pubmed.rs
  rust-toolchain.toml
Due: cargo-fmt, dprint-fmt

fix lint errors
  pubmed-formatter/src/pmc/markdown.rs
Due: cargo-fmt

added bench
  .github/workflows/ci-bench.yml
  Cargo.lock
  pubmed-parser/Cargo.toml
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

samplers
  Cargo.toml
  mise.rust.toml
  pubmed-parser/benches/pubmed_parsing.rs
  pubmed-parser/examples/profile_parsing.rs
Due: cargo-fmt, dprint-fmt

benching
  .gitignore
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/src/pubmed/parser/extractors.rs
  pubmed-parser/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

fix
  .github/workflows/ci-bench.yml
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

fix
  pubmed-parser/Cargo.toml
Due: dprint-fmt

fix ci
  .github/workflows/ci-bench.yml
Due: dprint-fmt

remove ci bench
  .github/workflows/ci-bench.yml
Due: dprint-fmt

Feature/parser benchmarking (#166)
  .gitignore
  Cargo.lock
  Cargo.toml
  mise.rust.toml
  pubmed-parser/Cargo.toml
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  pubmed-parser/examples/profile_parsing.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/src/pubmed/parser/extractors.rs
  pubmed-parser/src/pubmed/parser/xml_types.rs
Due: cargo-fmt, dprint-fmt

Add bulk OA XML download script for testing and benchmarking
  scripts/download_bulk_oa_xml.sh
Due: none

dtd
  .gitignore
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/models.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
Due: cargo-fmt

lint erros
  .claude/settings.json
  .pre-commit-config.yaml
  Cargo.lock
  mise.python.toml
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
  pubmed-client-wasm/src/lib.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-parser/Cargo.toml
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/tests/integration/parsing/pmc_snapshots.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt, dprint-fmt

domain
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt

skills
  .claude/skills/design-domain-models/SKILL.md
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/oa_api.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/models.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

domain replace
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/cache.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/extracted.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/mocked/supplementary.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-parser/src/common/mod.rs
  pubmed-parser/src/common/models.rs
  pubmed-parser/src/lib.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/mocked/supplementary.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
  pubmed-parser/tests/integration/parsing/pmc_snapshots.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

a
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-formatter/src/pmc/markdown.rs
Due: cargo-fmt

update claude settings
  .claude/hooks/session-start.sh
Due: none

update claude settings (#169)
  .claude/hooks/session-start.sh
Due: none

Enhance pubmed parser coverage for domain model fields
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/src/pubmed/parser/mod.rs
  pubmed-parser/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

add agent-lens to mise.toml via ubi backend
  mise.toml
Due: dprint-fmt

fix(hooks): repair broken Claude Code hooks and settings
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  .claude/settings.json
Due: dprint-fmt

fix(hooks): use `mise env -s` instead of `mise activate` in env file
  .claude/hooks/session-start.sh
Due: none

fix(hooks): make Stop hook reliably succeed end-to-end
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  mise.python.toml
  mise.rust.toml
  mise.toml
Due: dprint-fmt

chore(mise): bump pinned tool versions
  mise.node.toml
  mise.python.toml
  mise.root.toml
Due: dprint-fmt

fix hooks to use mise env -s for one-shot env loading
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
Due: none

disable mise auto-install in env -s calls
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
Due: none

auto-repair partial rustup toolchain in session-start hook
  .claude/hooks/session-start.sh
Due: none

install cargo: tools via cargo-binstall for fast prebuilt fetches
  mise.rust.toml
Due: dprint-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
