Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$|Cargo.lock$|pnpm-lock.yaml$|uv.lock$|.*\\.snap$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

feat(pmc): migrate OA package download to the AWS S3 Cloud service (#200)
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/config.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

fix: resolve high-priority issues #201, #202, #203
  pubmed-client/src/pmc/tar.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt

refactor(pmc): rename tar client/module to reflect S3 cloud downloads
  CLAUDE.md
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/request.rs
  pubmed-client/tests/integration/mocked/cloud.rs
  pubmed-client/tests/integration/mocked/figures.rs
Due: cargo-fmt, dprint-fmt

Refactor section parsing and rename PmcTarClient to PmcCloudClient (#212)
  CLAUDE.md
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/request.rs
  pubmed-client/tests/integration/mocked/cloud.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

Refactor decode_xml_entities into per-kind helpers (#204)
  pubmed-parser/src/common/xml_utils.rs
Due: cargo-fmt

fix(python): generate type stub from Rust and verify it in CI (#208)
  .github/workflows/ci-python.yml
  CLAUDE.md
  mise.python.toml
  pubmed-client-py/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/bin/stub_gen.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/stubtest-allowlist.txt
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

Refactor decode_xml_entities into per-kind helpers (#204) (#213)
  pubmed-parser/src/common/xml_utils.rs
Due: cargo-fmt

fix(python): generate type stub from Rust and verify it in CI (#208) (#214)
  .github/workflows/ci-python.yml
  CLAUDE.md
  mise.python.toml
  pubmed-client-py/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/bin/stub_gen.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/stubtest-allowlist.txt
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

feat: add Europe PMC client (core crate) (#199)
  pubmed-client/Cargo.toml
  pubmed-client/src/europe_pmc/citations.rs
  pubmed-client/src/europe_pmc/client.rs
  pubmed-client/src/europe_pmc/fulltext.rs
  pubmed-client/src/europe_pmc/id.rs
  pubmed-client/src/europe_pmc/links.rs
  pubmed-client/src/europe_pmc/mod.rs
  pubmed-client/src/europe_pmc/references.rs
  pubmed-client/src/europe_pmc/search.rs
  pubmed-client/src/europe_pmc/supplementary.rs
  pubmed-client/src/lib.rs
  pubmed-client/tests/integration/api/europe_pmc.rs
  pubmed-client/tests/integration/common/integration_test_utils.rs
  pubmed-client/tests/integration/mocked/europe_pmc.rs
  pubmed-parser/src/europe_pmc/citations.rs
  pubmed-parser/src/europe_pmc/de.rs
  pubmed-parser/src/europe_pmc/links.rs
  pubmed-parser/src/europe_pmc/mod.rs
  pubmed-parser/src/europe_pmc/models.rs
  pubmed-parser/src/europe_pmc/references.rs
  pubmed-parser/src/europe_pmc/search.rs
  pubmed-parser/src/lib.rs
Due: cargo-fmt, dprint-fmt

perf(pmc): parallelize PMC OA Cloud (S3) downloads
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/batch.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/config.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/request.rs
Due: cargo-fmt, dprint-fmt

perf(pmc): reuse OA Cloud XML instead of a second eutils fetch
  pubmed-client/src/pmc/cloud.rs
Due: cargo-fmt

perf(pmc): parallelize PMC OA Cloud (S3) downloads (#215)
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/batch.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/config.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/request.rs
Due: cargo-fmt, dprint-fmt

perf(pmc): use zero-copy read_event() instead of buffered read_event_into
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt

perf(pmc): scan only <back> for references instead of the whole document
  pubmed-parser/src/pmc/parser/mod.rs
Due: cargo-fmt

chore: remove stale committed insta .snap.new artifacts
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: none

refactor(pubmed): extract search_all stream state arms and add pagination tests
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/tests/integration/mocked/search_all.rs
Due: cargo-fmt, dprint-fmt

fix(pmc): resolve author affiliation text from xref rid
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

refactor(napi,wasm): split monolithic binding lib.rs into focused modules (#210)
  pubmed-client-napi/src/client.rs
  pubmed-client-napi/src/config.rs
  pubmed-client-napi/src/error.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/src/models.rs
  pubmed-client-napi/src/query.rs
  pubmed-client-wasm/src/client.rs
  pubmed-client-wasm/src/config.rs
  pubmed-client-wasm/src/error.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/src/models.rs
  pubmed-client-wasm/src/query.rs
Due: cargo-fmt

perf(pmc): zero-copy read_event() + scan only <back> for references (#218)
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: cargo-fmt

fix(pmc): resolve author affiliation text from xref rid (#219)
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

refactor(pubmed): extract search_all stream state arms and add pagination tests (#221)
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/tests/integration/mocked/search_all.rs
Due: cargo-fmt, dprint-fmt

refactor(napi,wasm): split monolithic binding lib.rs into focused modules (#210) (#220)
  pubmed-client-napi/src/client.rs
  pubmed-client-napi/src/config.rs
  pubmed-client-napi/src/error.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/src/models.rs
  pubmed-client-napi/src/query.rs
  pubmed-client-wasm/src/client.rs
  pubmed-client-wasm/src/config.rs
  pubmed-client-wasm/src/error.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/src/models.rs
  pubmed-client-wasm/src/query.rs
Due: cargo-fmt

feat(pmc): capture in-text citation linkage per section
  pubmed-client-wasm/src/models.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

feat(pmc): capture in-text citation linkage per section (#222)
  pubmed-client-wasm/src/models.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

release: v0.3.0
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/package.json
Due: dprint-fmt

fix(python): return concrete list types from PmcClient download/figure methods
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/uv.lock
Due: cargo-fmt

ci(python): type check at --strict in PR CI, not only at release
  .github/workflows/_publish-python.yml
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

ci(python): type check at --strict in PR CI, not only at release (#223)
  .github/workflows/_publish-python.yml
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

deps: refresh outdated dependencies (#207)
  .github/dependabot.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/retry.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

deps: refresh outdated dependencies (#207) (#224)
  .github/dependabot.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/retry.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

fix(napi): declare the package as ESM and stop publishing npm/ in the tarball
  pubmed-client-napi/package.json
Due: dprint-fmt

release: v0.3.1
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/package.json
Due: dprint-fmt

fix(client): use ring as the rustls provider instead of aws-lc-rs
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/europe_pmc/client.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/tls.rs
Due: cargo-fmt, dprint-fmt

fix(napi): declare the package as ESM and stop publishing npm/ in the tarball (#244)
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/package.json
  pubmed-client/Cargo.toml
  pubmed-client/src/europe_pmc/client.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/tls.rs
Due: cargo-fmt, dprint-fmt

feat(go): add Go bindings via cgo
  .github/workflows/ci-go.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  mise.go.toml
  mise.toml
  pubmed-client-go/.gitignore
  pubmed-client-go/Makefile
  pubmed-client-go/README.md
  pubmed-client-go/client.go
  pubmed-client-go/client_test.go
  pubmed-client-go/errors.go
  pubmed-client-go/examples/basic/main.go
  pubmed-client-go/ffi.go
  pubmed-client-go/go.mod
  pubmed-client-go/include/pubmed_client.h
  pubmed-client-go/integration_test.go
  pubmed-client-go/models.go
  pubmed-client-go/rust/Cargo.toml
  pubmed-client-go/rust/src/lib.rs
Due: cargo-fmt, dprint-fmt

fix(go): replace the Makefile with mise tasks and fix CI
  .github/workflows/ci-go.yml
  CLAUDE.md
  mise.go.toml
  pubmed-client-go/.gitignore
  pubmed-client-go/Makefile
  pubmed-client-go/README.md
  pubmed-client-go/rust/src/lib.rs
Due: cargo-fmt, dprint-fmt

feat(go): add Go bindings via cgo (#247)
  .github/workflows/ci-go.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  mise.go.toml
  mise.toml
  pubmed-client-go/.gitignore
  pubmed-client-go/README.md
  pubmed-client-go/client.go
  pubmed-client-go/client_test.go
  pubmed-client-go/errors.go
  pubmed-client-go/examples/basic/main.go
  pubmed-client-go/ffi.go
  pubmed-client-go/go.mod
  pubmed-client-go/include/pubmed_client.h
  pubmed-client-go/integration_test.go
  pubmed-client-go/models.go
  pubmed-client-go/rust/Cargo.toml
  pubmed-client-go/rust/src/lib.rs
Due: cargo-fmt, dprint-fmt

feat(go): expand the Go bindings beyond the MVP surface
  CLAUDE.md
  pubmed-client-go/README.md
  pubmed-client-go/client.go
  pubmed-client-go/client_test.go
  pubmed-client-go/errors.go
  pubmed-client-go/errors_test.go
  pubmed-client-go/examples/basic/main.go
  pubmed-client-go/examples/discovery/main.go
  pubmed-client-go/export.go
  pubmed-client-go/export_test.go
  pubmed-client-go/ffi.go
  pubmed-client-go/include/pubmed_client.h
  pubmed-client-go/integration_test.go
  pubmed-client-go/models.go
  pubmed-client-go/pmc.go
  pubmed-client-go/pmc_test.go
  pubmed-client-go/pubmed.go
  pubmed-client-go/pubmed_test.go
  pubmed-client-go/query.go
  pubmed-client-go/query_test.go
  pubmed-client-go/rust/Cargo.toml
  pubmed-client-go/rust/src/cancel.rs
  pubmed-client-go/rust/src/client.rs
  pubmed-client-go/rust/src/dto.rs
  pubmed-client-go/rust/src/error.rs
  pubmed-client-go/rust/src/export.rs
  pubmed-client-go/rust/src/ffi.rs
  pubmed-client-go/rust/src/lib.rs
  pubmed-client-go/rust/src/pmc.rs
  pubmed-client-go/rust/src/pubmed.rs
  pubmed-client-go/rust/src/query.rs
  pubmed-client-go/stub_test.go
  pubmed-client/src/pmc/client.rs
Due: cargo-fmt, dprint-fmt

fix(go): drop a rustdoc link to a private item
  CLAUDE.md
  pubmed-client-go/rust/src/export.rs
Due: cargo-fmt, dprint-fmt

Go bindings: expand surface from MVP to feature-complete (#248)
  CLAUDE.md
  pubmed-client-go/README.md
  pubmed-client-go/client.go
  pubmed-client-go/client_test.go
  pubmed-client-go/errors.go
  pubmed-client-go/errors_test.go
  pubmed-client-go/examples/basic/main.go
  pubmed-client-go/examples/discovery/main.go
  pubmed-client-go/export.go
  pubmed-client-go/export_test.go
  pubmed-client-go/ffi.go
  pubmed-client-go/include/pubmed_client.h
  pubmed-client-go/integration_test.go
  pubmed-client-go/models.go
  pubmed-client-go/pmc.go
  pubmed-client-go/pmc_test.go
  pubmed-client-go/pubmed.go
  pubmed-client-go/pubmed_test.go
  pubmed-client-go/query.go
  pubmed-client-go/query_test.go
  pubmed-client-go/rust/Cargo.toml
  pubmed-client-go/rust/src/cancel.rs
  pubmed-client-go/rust/src/client.rs
  pubmed-client-go/rust/src/dto.rs
  pubmed-client-go/rust/src/error.rs
  pubmed-client-go/rust/src/export.rs
  pubmed-client-go/rust/src/ffi.rs
  pubmed-client-go/rust/src/lib.rs
  pubmed-client-go/rust/src/pmc.rs
  pubmed-client-go/rust/src/pubmed.rs
  pubmed-client-go/rust/src/query.rs
  pubmed-client-go/stub_test.go
  pubmed-client/src/pmc/client.rs
Due: cargo-fmt, dprint-fmt
