Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

added rust toolchain
  rust-toolchain.toml
Due: dprint-fmt

Fix WASM workflow: use wasm-pack-action instead of curl installation
  .github/workflows/test.yml
Due: dprint-fmt

update config
  .claude/settings.json
  pubmed-client/tests/integration/test_data/pubmed_xml/27350240.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/28495875.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/29540945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/31978945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/32887691.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/33515491.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/34567890.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/35123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/36789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/37456789.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/38123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/39789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/40456789.xml
Due: dprint-fmt

update
  .claude/settings.json
Due: dprint-fmt

Settings.json (#28)
  .claude/settings.json
  pubmed-client/tests/integration/test_data/pubmed_xml/27350240.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/28495875.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/29540945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/31978945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/32887691.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/33515491.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/34567890.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/35123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/36789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/37456789.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/38123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/39789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/40456789.xml
Due: dprint-fmt

Settings.json (#28)
  .claude/settings.json
Due: dprint-fmt

wip
  pubmed-client/tests/integration/test_data/pubmed_xml/27350240.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/28495875.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/29540945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/31978945.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/32887691.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/33515491.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/34567890.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/35123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/36789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/37456789.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/38123456.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/39789012.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/40456789.xml
Due: none

added tar link extraction
  pubmed-client/Cargo.toml
  pubmed-client/src/config.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/parser.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/validation.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/src/retry.rs
  pubmed-client/src/time.rs
  pubmed-client/tests/human_verified/mod.rs
  pubmed-client/tests/integration/markdown_tests.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
Due: cargo-fmt, dprint-fmt

update wasm
  .claude/settings.json
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt, dprint-fmt

Feature/tar url (#30)
  .claude/settings.json
  pubmed-client-wasm/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/config.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/parser.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/validation.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/src/retry.rs
  pubmed-client/src/time.rs
  pubmed-client/tests/human_verified/mod.rs
  pubmed-client/tests/integration/markdown_tests.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
Due: cargo-fmt, dprint-fmt

download tar
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
Due: cargo-fmt, dprint-fmt

figure extraction
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
Due: cargo-fmt, dprint-fmt

remove unused
  pubmed-client/src/pmc/client.rs
Due: cargo-fmt

update to fig and fig caption extraction
  Cargo.lock
  examples/figure_extraction_complete.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
Due: cargo-fmt, dprint-fmt

fix
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt

fix test
  .claude/settings.json
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

Feature/extend tar (#31)
  .claude/settings.json
  Cargo.lock
  examples/figure_extraction_complete.rs
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
Due: cargo-fmt, dprint-fmt

refactor parser
  pubmed-client/src/pmc/parser.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/metadata.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/src/pmc/parser/xml_utils.rs
Due: cargo-fmt

fix ci
  .github/workflows/test.yml
  .mise.toml
  rust-toolchain.toml
Due: dprint-fmt

fix ci
  .github/workflows/test.yml
Due: dprint-fmt

update fig logic and impl cli
  Cargo.lock
  Cargo.toml
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
Due: cargo-fmt, dprint-fmt
