Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$|Cargo.lock$|pnpm-lock.yaml$|uv.lock$|.*\\.snap$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

parallelize postinstall, hoist MISE_AUTO_INSTALL into settings.json
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  .claude/settings.json
  etc/postinstall.sh
Due: dprint-fmt

drop unused Slack notification block from stop hook
  .claude/hooks/stop.sh
Due: none

fix hooks to use mise env -s for one-shot env loading (#171)
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  .claude/settings.json
  etc/postinstall.sh
  mise.rust.toml
Due: dprint-fmt

add agent-lens to mise tools
  mise.toml
Due: dprint-fmt

add agent-lens to mise tools (#172)
  mise.toml
Due: dprint-fmt

refactor(parser): rename `models` modules to `domain` for consistent naming
  pubmed-cli/src/commands/convert.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-formatter/src/pubmed/export.rs
  pubmed-parser/src/common/domain.rs
  pubmed-parser/src/common/mod.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/parser/domain.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pubmed/domain.rs
  pubmed-parser/src/pubmed/mod.rs
  pubmed-parser/src/pubmed/parser/batch.rs
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/src/pubmed/parser/mod.rs
  pubmed-parser/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

refactor(parser): remove dead `pmc/parser/domain.rs` legacy module
  pubmed-parser/src/pmc/parser/domain.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/tests/integration/parsing/pmc_snapshots.rs
Due: cargo-fmt

refactor(tests): eliminate ~2100-line duplication across parser/formatter/client
  .gitignore
  Cargo.lock
  Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/mocked/reexports.rs
  pubmed-client/tests/integration/mocked/supplementary.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/tests/integration/common/mod.rs
  pubmed-parser/Cargo.toml
  pubmed-parser/tests/integration/common/mod.rs
  pubmed-test-utils/Cargo.toml
  pubmed-test-utils/src/lib.rs
Due: cargo-fmt, dprint-fmt

refactor(tests): eliminate ~2100-line duplication across parser/formatter/client (#174)
  .gitignore
  Cargo.lock
  Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/mocked/reexports.rs
  pubmed-client/tests/integration/mocked/supplementary.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/tests/integration/common/mod.rs
  pubmed-parser/Cargo.toml
  pubmed-parser/tests/integration/common/mod.rs
  pubmed-test-utils/Cargo.toml
  pubmed-test-utils/src/lib.rs
Due: cargo-fmt, dprint-fmt

refactor(bindings): deduplicate model conversion helpers across NAPI/WASM/Python
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/query.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/mod.rs
Due: cargo-fmt

refactor(parser): collapse PMC parser models into domain.rs as single model layer
  CLAUDE.md
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/models.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt, dprint-fmt

fix(tests): update PMC integration tests for PmcArticle accessor methods
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
Due: cargo-fmt

refactor(bindings): deduplicate model conversion helpers across NAPI/WASM/Python (#175)
  CLAUDE.md
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/query.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/mod.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/models.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt, dprint-fmt

chore(release): unify package versions and add single-tag release pipeline
  .github/workflows/_publish-crate.yml
  .github/workflows/_publish-napi.yml
  .github/workflows/_publish-python.yml
  .github/workflows/_publish-wasm.yml
  .github/workflows/ci-root.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  RELEASING.md
  mise.toml
  pubmed-cli/Cargo.toml
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/Cargo.toml
  pubmed-client-wasm/package.json
  pubmed-mcp/Cargo.toml
  scripts/sync-versions.sh
Due: dprint-fmt

fix(release): sync napi pnpm-lock.yaml with package.json version
  pubmed-client-napi/pnpm-lock.yaml
  scripts/sync-versions.sh
Due: dprint-fmt

fix(release): ignore napi self-platform optional deps in dev lockfile
  pubmed-client-napi/package.json
  pubmed-client-napi/pnpm-lock.yaml
  scripts/sync-versions.sh
Due: dprint-fmt

test(mcp): assert server version against CARGO_PKG_VERSION
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt

chore(release): unify package versions and add single-tag release pipeline (#176)
  .github/workflows/_publish-crate.yml
  .github/workflows/_publish-napi.yml
  .github/workflows/_publish-python.yml
  .github/workflows/_publish-wasm.yml
  .github/workflows/ci-root.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  RELEASING.md
  mise.toml
  pubmed-cli/Cargo.toml
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/Cargo.toml
  pubmed-client-wasm/package.json
  pubmed-mcp/Cargo.toml
  pubmed-mcp/tests/integration_test.rs
  scripts/sync-versions.sh
Due: cargo-fmt, dprint-fmt

refactor PMC XML metadata parsing
  pubmed-parser/src/README.md
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

remove deprecated XML helpers
  pubmed-parser/src/README.md
  pubmed-parser/src/common/xml_utils.rs
Due: cargo-fmt, dprint-fmt

fix ci
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/xml_text.rs
Due: cargo-fmt

[codex] refactor PMC XML metadata parsing (#177)
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/xml_text.rs
  pubmed-parser/src/README.md
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt, dprint-fmt

refactor(client): centralize E-utilities URL building & request handling
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/request.rs
Due: cargo-fmt, dprint-fmt

refactor(client): centralize E-utilities URL building & request handling (#178)
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/request.rs
Due: cargo-fmt, dprint-fmt

chore(lint): forbid unwrap/expect in non-test code
  Cargo.toml
  clippy.toml
  pubmed-cli/Cargo.toml
  pubmed-client-napi/Cargo.toml
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/utils.rs
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/rate_limit.rs
  pubmed-client/src/request.rs
  pubmed-client/src/retry.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-mcp/Cargo.toml
  pubmed-parser/Cargo.toml
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  pubmed-parser/examples/profile_parsing.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/tests/integration/parsing/pmc_snapshots.rs
Due: cargo-fmt, dprint-fmt

chore(lint): forbid unwrap/expect in non-test code (#179)
  Cargo.toml
  clippy.toml
  pubmed-cli/Cargo.toml
  pubmed-client-napi/Cargo.toml
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/utils.rs
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/rate_limit.rs
  pubmed-client/src/request.rs
  pubmed-client/src/retry.rs
  pubmed-formatter/Cargo.toml
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-mcp/Cargo.toml
  pubmed-parser/Cargo.toml
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  pubmed-parser/examples/profile_parsing.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/tests/integration/parsing/pmc_snapshots.rs
Due: cargo-fmt, dprint-fmt

refactor(bindings): shared Tokio runtime, typed exceptions, exhaustive error conversion
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/utils.rs
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt, dprint-fmt

refactor(pmc): eliminate PmcClient/PmcTarClient duplication and fix temp file leak
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/common.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

fix(parser): replace silent fallbacks with Option types and tracing warnings
  examples/figure_extraction_complete.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
Due: cargo-fmt

refactor(bindings): shared Tokio runtime, typed exceptions, exhaustive error conversion (#180)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/utils.rs
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt, dprint-fmt

refactor(pmc): eliminate PmcClient/PmcTarClient duplication and fix temp file leak (#181)
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/common.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

test(parser): add integration test verifying no placeholder strings in parsed output
  pubmed-parser/tests/integration/parsing/pmc.rs
Due: cargo-fmt

fix(parser): replace silent fallbacks with Option types and tracing warnings (#182)
  examples/figure_extraction_complete.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/pmc.rs
Due: cargo-fmt

fix(docs): update rustdoc examples for Option<String> API changes
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt

fix(parser): replace PMC parser silent fallbacks with Option types (#183)
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt

refactor(mcp): extract common helpers to eliminate MCP tool boilerplate
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/src/tools/summary.rs
Due: cargo-fmt

fix(time): implement real Instant and sleep for both native and WASM targets
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/time.rs
Due: cargo-fmt, dprint-fmt

refactor(formatter): split PmcMarkdownConverter monolith into submodules
  pubmed-cli/src/commands/markdown.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-formatter/src/lib.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/src/pmc/markdown/config.rs
  pubmed-formatter/src/pmc/markdown/entities.rs
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-formatter/src/pmc/markdown/heading.rs
  pubmed-formatter/src/pmc/markdown/metadata.rs
  pubmed-formatter/src/pmc/markdown/mod.rs
  pubmed-formatter/src/pmc/markdown/references.rs
  pubmed-formatter/src/pmc/markdown/sections.rs
  pubmed-formatter/src/pmc/markdown/toc.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
Due: cargo-fmt

fix(time): resolve clippy absolute_paths lint violations
  pubmed-client/src/time.rs
Due: cargo-fmt

refactor(cli): unify error handling, output, and client creation across commands
  pubmed-cli/src/commands/citations.rs
  pubmed-cli/src/commands/citmatch.rs
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/espell.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/gquery.rs
  pubmed-cli/src/commands/info.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/output.rs
  pubmed-cli/src/commands/related.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt
