Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

fix
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

Feature/cli (#33)
  Cargo.lock
  Cargo.toml
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
Due: cargo-fmt, dprint-fmt

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: dprint-fmt

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: dprint-fmt

update env
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: dprint-fmt

ci
  .github/workflows/claude-code-review.yml
  .mise.toml
Due: dprint-fmt

impl mem cache
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/tests/integration/test_pmc_cache.rs
Due: cargo-fmt, dprint-fmt

impl mem cache (#35)
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/tests/integration/test_pmc_cache.rs
Due: cargo-fmt, dprint-fmt

Added markdown export cli
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt

Added markdown export cli (#36)
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt

remove unused functions
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

remove unused functions (#37)
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

update for nxml
  pubmed-client/src/pmc/tar.rs
  pubmed-client/tests/integration/test_nxml_reading.rs
Due: cargo-fmt

update and tests
  pubmed-client/.gitattributes
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/dates.rs
  pubmed-client/src/time.rs
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10487465.xml
  pubmed-client/tests/integration/test_nxml_reading.rs
  pubmed-client/tests/integration/test_pmc_cache.rs
  pubmed-client/tests/integration/test_pmc_variants_parameterized.rs
Due: cargo-fmt, dprint-fmt

fix
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_nxml_reading.rs
  pubmed-client/tests/integration/test_pmc_variants_parameterized.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
Due: cargo-fmt

Add NXML and PDF file tracking to Git LFS
  .gitattributes
Due: none

wip
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10200000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10300000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10400000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10618641.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10653940.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10767945.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10777901.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10821037.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10906259.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC3500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC4500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC5000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC6000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC6500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC7500000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC9000000.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC9500000.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/25760099.xml
  pubmed-client/tests/integration/test_data/pubmed_xml/26846451.xml
Due: none

impl search
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pubmed/query/advanced.rs
Due: cargo-fmt

added xml
  .gitattributes
Due: none

added xml (#40)
  .gitattributes
Due: none

squash
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pubmed/query/advanced.rs
Due: cargo-fmt

search tools (#41)
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pubmed/query/advanced.rs
Due: cargo-fmt

pmid to pmcids
  CLAUDE.md
  pubmed-cli/src/main.rs
Due: cargo-fmt, dprint-fmt

split files
  CLAUDE.md
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt, dprint-fmt

a
  .mise.toml
Due: dprint-fmt

toolchain
  rust-toolchain.toml
Due: dprint-fmt

fix wasm
  Cargo.lock
  pubmed-client-wasm/Cargo.toml
Due: dprint-fmt

fix
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/tests/simple.test.ts
Due: cargo-fmt

pmid to pmcids (#42)
  .mise.toml
  CLAUDE.md
  Cargo.lock
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-wasm/Cargo.toml
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/tests/simple.test.ts
  rust-toolchain.toml
Due: cargo-fmt, dprint-fmt
