Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: mise exec -- dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

bump reqwest from 0.11 to 0.12
  Cargo.lock
  pubmed-client/Cargo.toml
Due: dprint-fmt

Docs: More good view
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

Docs: More good view (#150)
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

upgrade reqwest from 0.12 to 0.13
  Cargo.lock
  pubmed-client/Cargo.toml
Due: dprint-fmt

Upgrade reqwest to 0.13 and update TLS feature flags (#151)
  Cargo.lock
  pubmed-client/Cargo.toml
Due: dprint-fmt

feat(website): add syntax highlighting to code blocks
  website/docusaurus.config.ts
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

update documents
  CLAUDE.md
  README.md
Due: dprint-fmt

update documents (#153)
  CLAUDE.md
  README.md
Due: dprint-fmt

feat(website): add syntax highlighting to code blocks (#152)
  website/docusaurus.config.ts
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

update mcp server
  Cargo.lock
  pubmed-mcp/Cargo.toml
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt, dprint-fmt

Remove redundunt integration tests in bindings
  .github/workflows/python.yml
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/search-query.test.ts
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
  pubmed-client-wasm/tests/simple.test.ts
Due: dprint-fmt

Feature/http mcps (#154)
  .github/workflows/python.yml
  Cargo.lock
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/search-query.test.ts
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-mcp/Cargo.toml
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt, dprint-fmt

Fix documents
  .github/workflows/docs.yml
  .mise.toml
  website/package.json
  website/pnpm-lock.yaml
  website/src/pages/index.tsx
Due: dprint-fmt

update mise tasks
  .mise.toml
  etc/postinstall.sh
  pubmed-client-napi/tests/search-query.test.ts
Due: dprint-fmt

Fix documents (#155)
  .github/workflows/docs.yml
  .mise.toml
  etc/postinstall.sh
  pubmed-client-napi/tests/search-query.test.ts
  website/package.json
  website/pnpm-lock.yaml
  website/src/pages/index.tsx
Due: dprint-fmt

Optimize workflows
  .github/actions/setup-repo/action.yml
  .github/workflows/core.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: dprint-fmt

wasm issues
  pubmed-client/Cargo.toml
Due: dprint-fmt

Optimize workflows (#156)
  .github/actions/setup-repo/action.yml
  .github/workflows/core.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
  pubmed-client/Cargo.toml
Due: dprint-fmt

update codecov
  .github/workflows/core.yml
  .mise.toml
Due: dprint-fmt

update codecov (#157)
  .github/workflows/core.yml
  .mise.toml
Due: dprint-fmt

Fix coverage by using nightly rust
  .github/workflows/core.yml
Due: dprint-fmt

chore
  .github/workflows/core.yml
Due: dprint-fmt

remove branch
  .mise.toml
Due: dprint-fmt

Fix coverage by using nightly rust (#158)
  .github/workflows/core.yml
  .mise.toml
Due: dprint-fmt

impl pbt
  Cargo.lock
  README.md
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/date.rs
Due: cargo-fmt, dprint-fmt

Testing feature/pbt init (#159)
  Cargo.lock
  README.md
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/date.rs
Due: cargo-fmt, dprint-fmt

feat: add competitor-analysis-driven improvements across workspace
  pubmed-cli/src/commands/citations.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/info.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/related.rs
  pubmed-cli/src/main.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/export.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/deserializers.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

fix: resolve clippy absolute_paths warnings in parser modules
  pubmed-client/src/pubmed/parser/deserializers.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

Add citation export formats and article linking features (#160)
  pubmed-cli/src/commands/citations.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/info.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/related.rs
  pubmed-cli/src/main.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/export.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/deserializers.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/mod.rs
Due: cargo-fmt

hooks ci
  .claude/hooks/common.sh
  .claude/hooks/session-start.sh
  .claude/hooks/stop.sh
  .claude/settings.json
  .github/workflows/claude-hooks.yml
  etc/setup-claude-web.sh
Due: dprint-fmt

fix misc
  .mise.toml
  etc/postinstall.sh
Due: dprint-fmt

builtin
  .pre-commit-config.yaml
Due: dprint-fmt

attributes
  .gitattributes
Due: none

split mise and fix ci setup
  .github/actions/setup-repo/action.yml
  .github/workflows/core.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/napi.yml
  .github/workflows/python.yml
  .github/workflows/test-mcp-server.yml
  .github/workflows/wasm.yml
  .gitignore
  DEVELOPMENT.md
  etc/postinstall.sh
  mise.node.toml
  mise.python.toml
  mise.root.toml
  mise.rust.toml
  mise.toml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/index.d.ts
Due: dprint-fmt

remove old .mise.toml
  .gitignore
  .mise.toml
Due: dprint-fmt

a
  .github/actions/setup-repo/action.yml
Due: dprint-fmt

rust update
  .github/workflows/rust.yml
  .github/workflows/test-mcp-server.yml
  DEVELOPMENT.md
  README.md
  mise.root.toml
  mise.rust.toml
Due: dprint-fmt
