Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$|Cargo.lock$|pnpm-lock.yaml$|uv.lock$|.*\\.snap$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

refactor(mcp): extract common helpers to eliminate MCP tool boilerplate (#184)
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/src/tools/summary.rs
Due: cargo-fmt

refactor(cli): unify error handling, output, and client creation across commands (#187)
  pubmed-cli/src/commands/citations.rs
  pubmed-cli/src/commands/citmatch.rs
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/espell.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/gquery.rs
  pubmed-cli/src/commands/info.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/output.rs
  pubmed-cli/src/commands/related.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

refactor(formatter): split PmcMarkdownConverter monolith into submodules (#186)
  pubmed-cli/src/commands/markdown.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-formatter/src/lib.rs
  pubmed-formatter/src/pmc/markdown.rs
  pubmed-formatter/src/pmc/markdown/config.rs
  pubmed-formatter/src/pmc/markdown/entities.rs
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-formatter/src/pmc/markdown/heading.rs
  pubmed-formatter/src/pmc/markdown/metadata.rs
  pubmed-formatter/src/pmc/markdown/mod.rs
  pubmed-formatter/src/pmc/markdown/references.rs
  pubmed-formatter/src/pmc/markdown/sections.rs
  pubmed-formatter/src/pmc/markdown/toc.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
Due: cargo-fmt

Implement proper cross-platform time measurement for WASM (#185)
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/time.rs
Due: cargo-fmt, dprint-fmt

agent-lens
  mise.root.toml
Due: dprint-fmt

chore(agent-lens): add code-health profiles, skill, and subagent
  .claude/agents/code-health.md
  .claude/skills/code-health/SKILL.md
  agent-lens.toml
Due: dprint-fmt

refactor: remove duplicated format_first_pub_date and format_author_name
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-formatter/src/pmc/markdown/metadata.rs
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/src/pubmed/parser/extractors.rs
Due: cargo-fmt

Introduce agent-lens for code health (#188)
  .claude/agents/code-health.md
  .claude/skills/code-health/SKILL.md
  agent-lens.toml
  mise.root.toml
  pubmed-formatter/src/pmc/markdown/frontmatter.rs
  pubmed-formatter/src/pmc/markdown/metadata.rs
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/src/pubmed/parser/extractors.rs
Due: cargo-fmt, dprint-fmt

refactor(cli): extract shared batch framework and unify storage backend
  pubmed-cli/src/commands/batch.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

refactor(client): extract shared batch-fetch and elink collectors
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
Due: cargo-fmt

refactor(cli): extract shared batch framework and unify storage backend (#189)
  pubmed-cli/src/commands/batch.rs
  pubmed-cli/src/commands/export.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

refactor(client): extract shared batch-fetch and elink collectors (#190)
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
Due: cargo-fmt

refactor: tighten parser API surface and dedup re-export paths
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: cargo-fmt

fix(tests): follow PmcFullText::title() Option<&str> change in integration tests
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
Due: cargo-fmt

ci: bump codecov-action to v7.0.0
  .github/workflows/ci-rust.yml
Due: dprint-fmt

fix(tests): follow PmcFullText::title() Option<&str> change in integration tests (#191)
  .github/workflows/ci-rust.yml
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
Due: cargo-fmt, dprint-fmt

refactor: tighten parser API surface and dedup re-export paths (#192)
  pubmed-cli/src/commands/metadata.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: cargo-fmt

fix(release): resolve cross-crate dependency failures in publish flow
  .github/workflows/_publish-crate.yml
  RELEASING.md
Due: dprint-fmt

fix(release): resolve cross-crate dependency failures in publish flow (#193)
  .github/workflows/_publish-crate.yml
  RELEASING.md
Due: dprint-fmt

ci(release): migrate crates.io to Trusted Publishing, fix npm/PyPI OIDC
  .github/workflows/_publish-crate.yml
  .github/workflows/_publish-napi.yml
  .github/workflows/_publish-python.yml
  .github/workflows/_publish-wasm.yml
  .github/workflows/release.yml
  RELEASING.md
Due: dprint-fmt

ci(release): migrate crates.io to Trusted Publishing, fix npm/PyPI OIDC (#194)
  .github/workflows/_publish-crate.yml
  .github/workflows/_publish-napi.yml
  .github/workflows/_publish-python.yml
  .github/workflows/_publish-wasm.yml
  .github/workflows/release.yml
  RELEASING.md
Due: dprint-fmt

feat(r): add MVP R bindings via extendr (pubmedclient package)
  CLAUDE.md
  pubmed-client-r/.Rbuildignore
  pubmed-client-r/.gitignore
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/LICENSE
  pubmed-client-r/NAMESPACE
  pubmed-client-r/R/extendr-wrappers.R
  pubmed-client-r/R/pubmed-client.R
  pubmed-client-r/README.md
  pubmed-client-r/src/Makevars
  pubmed-client-r/src/Makevars.win
  pubmed-client-r/src/entrypoint.c
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-r/src/rust/src/lib.rs
Due: cargo-fmt, dprint-fmt

ci(r): add R CMD check workflow and testthat suite for R bindings
  .github/workflows/ci-r.yml
  CLAUDE.md
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/src/rust/src/lib.rs
  pubmed-client-r/tests/testthat.R
  pubmed-client-r/tests/testthat/test-client.R
  pubmed-client-r/tests/testthat/test-integration.R
Due: cargo-fmt, dprint-fmt

ci(r): satisfy ghalint — per-job permissions and full-SHA pinned actions
  .github/workflows/ci-r.yml
  CLAUDE.md
Due: dprint-fmt

docs(r): add man/*.Rd pages and harden R CMD check error threshold
  .github/workflows/ci-r.yml
  pubmed-client-r/man/pmc_fulltext.Rd
  pubmed-client-r/man/pmc_to_markdown.Rd
  pubmed-client-r/man/pubmed_client.Rd
  pubmed-client-r/man/pubmed_fetch.Rd
  pubmed-client-r/man/pubmed_search.Rd
  pubmed-client-r/man/pubmed_search_and_fetch.Rd
  pubmed-client-r/man/pubmedclient-package.Rd
Due: dprint-fmt

ci(r): fix R dependency install (writable user library + PPM binaries)
  .github/workflows/ci-r.yml
Due: dprint-fmt

fix(r): depend on published pubmed-client crate so R CMD check builds
  CLAUDE.md
  pubmed-client-r/README.md
  pubmed-client-r/src/rust/Cargo.toml
Due: dprint-fmt

fix(r): use rustls-tls to avoid unresolved OpenSSL symbols at load
  pubmed-client-r/src/rust/Cargo.toml
Due: dprint-fmt

Add R bindings for pubmed-client via extendr (#195)
  .github/workflows/ci-r.yml
  CLAUDE.md
  pubmed-client-r/.Rbuildignore
  pubmed-client-r/.gitignore
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/LICENSE
  pubmed-client-r/NAMESPACE
  pubmed-client-r/R/extendr-wrappers.R
  pubmed-client-r/R/pubmed-client.R
  pubmed-client-r/README.md
  pubmed-client-r/man/pmc_fulltext.Rd
  pubmed-client-r/man/pmc_to_markdown.Rd
  pubmed-client-r/man/pubmed_client.Rd
  pubmed-client-r/man/pubmed_fetch.Rd
  pubmed-client-r/man/pubmed_search.Rd
  pubmed-client-r/man/pubmed_search_and_fetch.Rd
  pubmed-client-r/man/pubmedclient-package.Rd
  pubmed-client-r/src/Makevars
  pubmed-client-r/src/Makevars.win
  pubmed-client-r/src/entrypoint.c
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-r/src/rust/src/lib.rs
  pubmed-client-r/tests/testthat.R
  pubmed-client-r/tests/testthat/test-client.R
  pubmed-client-r/tests/testthat/test-integration.R
Due: cargo-fmt, dprint-fmt

Enrich PMC domain model and reduce parser allocations
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
Due: cargo-fmt

Add DTD-faithful domain model fields (collab, references, groups, related-article)
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-formatter/src/pmc/markdown/mod.rs
  pubmed-formatter/src/pubmed/export.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-parser/src/common/models.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pubmed/models.rs
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

Add text-mining accessors and section classification for PMC articles (#196)
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-formatter/src/pmc/markdown/mod.rs
  pubmed-formatter/src/pubmed/export.rs
  pubmed-formatter/tests/integration/mocked/markdown.rs
  pubmed-parser/src/common/models.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/domain.rs
  pubmed-parser/src/pmc/mod.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/src/pubmed/models.rs
  pubmed-parser/src/pubmed/parser/converters.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

feat(wasm): expand WasmSearchQuery builder and add PMC markdown/OA methods
  pubmed-client-wasm/README.md
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/tests/query.test.ts
Due: cargo-fmt, dprint-fmt

feat(wasm): expand WasmSearchQuery builder and add PMC markdown/OA methods (#197)
  pubmed-client-wasm/README.md
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/tests/query.test.ts
Due: cargo-fmt, dprint-fmt

feat(bindings): close cross-binding feature parity gaps
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/tests/test_client.py
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt

feat(bindings): close cross-binding feature parity gaps (#198)
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/tests/test_client.py
  pubmed-client-wasm/src/lib.rs
Due: cargo-fmt

feat(pubtator): add PubTator3 biomedical annotation client
  CLAUDE.md
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubtator/mod.rs
  pubmed-client/tests/integration/mocked/pubtator.rs
  pubmed-client/tests/integration/mocked/reexports.rs
  pubmed-parser/src/lib.rs
  pubmed-parser/src/pubtator/mod.rs
  pubmed-parser/src/pubtator/models.rs
  test_data/pubtator/autocomplete_covid.json
  test_data/pubtator/biocjson_two_abstracts.json
Due: cargo-fmt, dprint-fmt

feat: add Europe PMC client (core crate)
  pubmed-client/Cargo.toml
  pubmed-client/src/europe_pmc/citations.rs
  pubmed-client/src/europe_pmc/client.rs
  pubmed-client/src/europe_pmc/fulltext.rs
  pubmed-client/src/europe_pmc/id.rs
  pubmed-client/src/europe_pmc/links.rs
  pubmed-client/src/europe_pmc/mod.rs
  pubmed-client/src/europe_pmc/references.rs
  pubmed-client/src/europe_pmc/search.rs
  pubmed-client/src/europe_pmc/supplementary.rs
  pubmed-client/src/lib.rs
  pubmed-client/tests/integration/api/europe_pmc.rs
  pubmed-client/tests/integration/common/integration_test_utils.rs
  pubmed-client/tests/integration/mocked/europe_pmc.rs
  pubmed-parser/src/europe_pmc/citations.rs
  pubmed-parser/src/europe_pmc/de.rs
  pubmed-parser/src/europe_pmc/links.rs
  pubmed-parser/src/europe_pmc/mod.rs
  pubmed-parser/src/europe_pmc/models.rs
  pubmed-parser/src/europe_pmc/references.rs
  pubmed-parser/src/europe_pmc/search.rs
  pubmed-parser/src/lib.rs
Due: cargo-fmt, dprint-fmt

feat(pmc): migrate OA package download to the AWS S3 Cloud service
  pubmed-client/src/config.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt

refactor(pmc): drop legacy FTP/tar fallback, use OA Cloud (S3) only
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt
