Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

refactor(python): remove duplicate imports from test files
  pubmed-client-py/pyproject.toml
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: dprint-fmt

refactor(python): remove duplicate imports from test files (#94)
  pubmed-client-py/pyproject.toml
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: dprint-fmt

refactor: standardize Author and Affiliation models across PubMed and PMC
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/mod.rs
Due: cargo-fmt

refactor: create common models module for shared Author and Affiliation types
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/common/mod.rs
  pubmed-client/src/common/models.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt

test(python): update tests to use new Author field names
  pubmed-client-py/tests/test_models.py
Due: none

fix(pmc): correct parameter order in Author::with_names calls
  pubmed-client/src/pmc/parser/author.rs
Due: cargo-fmt

Standardize author affiliation across databases (#95)
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/tests/test_models.py
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
  pubmed-client-wasm/src/lib.rs
  pubmed-client/src/common/mod.rs
  pubmed-client/src/common/models.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt

refactor: standardize parser modules with common XML utilities
  pubmed-client/src/common/mod.rs
  pubmed-client/src/common/xml_utils.rs
  pubmed-client/src/pmc/parser/xml_utils.rs
  pubmed-client/src/pubmed/parser/preprocessing.rs
Due: cargo-fmt

refactor: standardize parser modules with common XML utilities (#96)
  pubmed-client/src/common/mod.rs
  pubmed-client/src/common/xml_utils.rs
  pubmed-client/src/pmc/parser/xml_utils.rs
  pubmed-client/src/pubmed/parser/preprocessing.rs
Due: cargo-fmt

add skills
  .claude/skills/pubmed-field-validator/SKILL.md
  .claude/skills/pubmed-field-validator/references/pubmed_field_tags.md
  .claude/skills/pubmed-field-validator/ruff.toml
  .claude/skills/pubmed-field-validator/scripts/validate_field_tags.py
Due: dprint-fmt

update python binding version
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

update python binding version (#98)
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

fix: correct package names and documentation links in README
  .pre-commit-config.yaml
  README.md
Due: dprint-fmt

fix: correct package names and documentation links in README (#99)
  .pre-commit-config.yaml
  README.md
Due: dprint-fmt

feat: enhance error messages with context, suggestions, and retry information
  pubmed-client/src/error.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/query/validation.rs
Due: cargo-fmt

add skills (#97)
  .claude/skills/pubmed-field-validator/SKILL.md
  .claude/skills/pubmed-field-validator/references/pubmed_field_tags.md
  .claude/skills/pubmed-field-validator/ruff.toml
  .claude/skills/pubmed-field-validator/scripts/validate_field_tags.py
Due: dprint-fmt

feat: add PubMedId and PmcId validation structs
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/mod.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
Due: cargo-fmt

refactor: apply PubMedId and PmcId validation to all clients
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

fix: use inspect_err instead of map_err for side-effect logging
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

fix ci
  .claude/commands/fix_ci.md
  .pre-commit-config.yaml
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/uv.lock
  pubmed-client/tests/integration/test_figure_extraction.rs
Due: cargo-fmt, dprint-fmt

fix: correct error type in tar extraction tests
  pubmed-client/tests/integration/test_tar_extraction.rs
Due: cargo-fmt

Create validation struct for PMC ID (#101)
  .claude/commands/fix_ci.md
  .pre-commit-config.yaml
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/uv.lock
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/mod.rs
  pubmed-client/src/error.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/tests/integration/test_figure_extraction.rs
  pubmed-client/tests/integration/test_tar_extraction.rs
Due: cargo-fmt, dprint-fmt

Add comprehensive Sphinx documentation for Python bindings
  pubmed-client-py/docs/.gitignore
  pubmed-client-py/docs/Makefile
  pubmed-client-py/docs/README.md
  pubmed-client-py/docs/api/client.rst
  pubmed-client-py/docs/api/models.rst
  pubmed-client-py/docs/api/pmc.rst
  pubmed-client-py/docs/api/pubmed.rst
  pubmed-client-py/docs/api/query.rst
  pubmed-client-py/docs/changelog.rst
  pubmed-client-py/docs/conf.py
  pubmed-client-py/docs/contributing.rst
  pubmed-client-py/docs/examples.rst
  pubmed-client-py/docs/index.rst
  pubmed-client-py/docs/installation.rst
  pubmed-client-py/docs/make.bat
  pubmed-client-py/docs/quickstart.rst
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
Due: dprint-fmt

fix pmc only query
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/search.rs
Due: cargo-fmt

fix pmc only query (#103)
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/search.rs
Due: cargo-fmt

update markdown module to write metadata in frontmatter
  pubmed-cli/src/commands/markdown.rs
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt

yaml formatter
  .pre-commit-config.yaml
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/markdown.rs
Due: cargo-fmt, dprint-fmt

update markdown module to write metadata in frontmatter (#104)
  .pre-commit-config.yaml
  Cargo.lock
  pubmed-cli/src/commands/markdown.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/markdown.rs
  pubmed-client/tests/integration/markdown_tests.rs
Due: cargo-fmt, dprint-fmt

Add napi-rs TypeScript bindings for Node.js
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/build.rs
  pubmed-client-napi/package.json
  pubmed-client-napi/src/lib.rs
Due: cargo-fmt, dprint-fmt

Add TypeScript examples for napi-rs bindings
  pubmed-client-napi/examples/basic.ts
  pubmed-client-napi/examples/search-and-markdown.ts
  pubmed-client-napi/package.json
  pubmed-client-napi/tsconfig.json
Due: dprint-fmt

Add test, lint, and format configuration for napi-rs bindings
  pubmed-client-napi/biome.json
  pubmed-client-napi/examples/basic.ts
  pubmed-client-napi/examples/search-and-markdown.ts
  pubmed-client-napi/package.json
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/setup.ts
  pubmed-client-napi/vitest.config.ts
Due: dprint-fmt

Create TypeScript bindings with napi-rs (#105)
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/biome.json
  pubmed-client-napi/build.rs
  pubmed-client-napi/examples/basic.ts
  pubmed-client-napi/examples/search-and-markdown.ts
  pubmed-client-napi/package.json
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/setup.ts
  pubmed-client-napi/tsconfig.json
  pubmed-client-napi/vitest.config.ts
Due: cargo-fmt, dprint-fmt

fmt
  pubmed-client-napi/Cargo.toml
Due: dprint-fmt

add napi ci
  .github/workflows/napi-publish.yml
  .github/workflows/napi.yml
  .mise.toml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/package.json
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-napi/src/lib.rs
Due: cargo-fmt, dprint-fmt

fix
  .github/workflows/napi.yml
Due: dprint-fmt

fix
  .github/workflows/napi-publish.yml
  .github/workflows/napi.yml
Due: dprint-fmt

.
  .github/workflows/napi-publish.yml
  .github/workflows/napi.yml
Due: dprint-fmt

lock
  .mise.toml
  mise.lock
Due: dprint-fmt

update
  .github/actions/setup-repo/action.yml
  .github/workflows/napi-publish.yml
  .github/workflows/napi.yml
Due: dprint-fmt

update
  .github/actions/setup-repo/action.yml
  .github/workflows/napi.yml
Due: dprint-fmt
