Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: mise exec -- dprint fmt
  language: system
  pass_filenames: false

agents.md (#135)
  AGENTS.md
Due: dprint-fmt

chore: fix workflows
  .github/workflows/release.yml
Due: dprint-fmt

chore: fix workflows (#136)
  .github/workflows/release.yml
Due: dprint-fmt

chore: fix workflows
  pubmed-client-napi/Cargo.toml
Due: dprint-fmt

chore: fix workflows (#137)
  pubmed-client-napi/Cargo.toml
Due: dprint-fmt

chore: fix workflows
  .github/workflows/publish-crates.yml
Due: dprint-fmt

chore: fix workflows (#138)
  .github/workflows/publish-crates.yml
Due: dprint-fmt

Consolidate integration tests into unified test suites (#134)
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/tests/integration/api/batch_fetch.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/pmc.rs
  pubmed-client/tests/integration/api/pubmed.rs
  pubmed-client/tests/integration/api/rate_limiting.rs
  pubmed-client/tests/integration/api/webenv.rs
  pubmed-client/tests/integration/mocked/batch_fetch.rs
  pubmed-client/tests/integration/mocked/cache.rs
  pubmed-client/tests/integration/mocked/figures.rs
  pubmed-client/tests/integration/mocked/markdown.rs
  pubmed-client/tests/integration/mocked/rate_limiting.rs
  pubmed-client/tests/integration/mocked/search_options.rs
  pubmed-client/tests/integration/mocked/supplementary.rs
  pubmed-client/tests/integration/mocked/tar.rs
  pubmed-client/tests/integration/parsing/einfo.rs
  pubmed-client/tests/integration/parsing/elink.rs
  pubmed-client/tests/integration/parsing/pmc.rs
  pubmed-client/tests/integration/parsing/pubmed.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_einfo_integration.rs
  pubmed-client/tests/integration/test_elink_integration.rs
  pubmed-client/tests/integration/test_integration_abstract.rs
  pubmed-client/tests/integration/test_mesh_integration.rs
Due: cargo-fmt, dprint-fmt

Add EPost API support for uploading PMIDs to NCBI History server (#130)
  pubmed-client-napi/src/lib.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/mod.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
  pubmed-client/tests/integration/api/webenv.rs
  pubmed-client/tests/integration/test_epost_mocked.rs
Due: cargo-fmt, dprint-fmt

Refactor PubMedClient from monolithic client.rs into focused modules
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/pubmed/mod.rs
Due: cargo-fmt

Refactor PubMedClient from monolithic client.rs into focused modules (#139)
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/pubmed/mod.rs
Due: cargo-fmt

Added integration tests
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/models.rs
  pubmed-client/tests/integration/parsing/ecitmatch.rs
  pubmed-client/tests/integration/parsing/esearch.rs
  pubmed-client/tests/integration/parsing/espell.rs
  pubmed-client/tests/integration/parsing/esummary.rs
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_found.txt
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_mixed.txt
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_single.txt
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_covid19.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_crispr_sorted.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_empty.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_with_history.json
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_alergies.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_asthmaa.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_correct.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_fiberblast.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_multiple_corrections.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_unknown.xml
  pubmed-client/tests/integration/test_data/api_responses/esummary/summaries_four.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summaries_multiple.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_25760099.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_31978945.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_32887691.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_33515491.json
  scripts/download_ecitmatch_fixtures.sh
  scripts/download_egquery_fixtures.sh
  scripts/download_esearch_fixtures.sh
  scripts/download_espell_fixtures.sh
  scripts/download_esummary_fixtures.sh
Due: cargo-fmt, dprint-fmt

Added integration tests (#140)
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/models.rs
  pubmed-client/tests/integration/parsing/ecitmatch.rs
  pubmed-client/tests/integration/parsing/esearch.rs
  pubmed-client/tests/integration/parsing/espell.rs
  pubmed-client/tests/integration/parsing/esummary.rs
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_found.txt
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_mixed.txt
  pubmed-client/tests/integration/test_data/api_responses/ecitmatch/citmatch_single.txt
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_covid19.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_crispr_sorted.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_empty.json
  pubmed-client/tests/integration/test_data/api_responses/esearch/search_with_history.json
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_alergies.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_asthmaa.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_correct.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_fiberblast.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_multiple_corrections.xml
  pubmed-client/tests/integration/test_data/api_responses/espell/espell_unknown.xml
  pubmed-client/tests/integration/test_data/api_responses/esummary/summaries_four.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summaries_multiple.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_25760099.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_31978945.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_32887691.json
  pubmed-client/tests/integration/test_data/api_responses/esummary/summary_33515491.json
  scripts/download_ecitmatch_fixtures.sh
  scripts/download_egquery_fixtures.sh
  scripts/download_esearch_fixtures.sh
  scripts/download_espell_fixtures.sh
  scripts/download_esummary_fixtures.sh
Due: cargo-fmt, dprint-fmt

Fix 159 failing doc tests across pubmed-client
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/xml_utils.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/query/advanced.rs
  pubmed-client/src/pubmed/query/boolean.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/dates.rs
  pubmed-client/src/pubmed/query/mod.rs
  pubmed-client/src/pubmed/query/search.rs
  pubmed-client/src/pubmed/query/validation.rs
  pubmed-client/src/rate_limit.rs
  pubmed-client/src/time.rs
Due: cargo-fmt

Add doctest mise task and run it in CI
  .github/workflows/test.yml
  .mise.toml
Due: dprint-fmt

Add Bioinformatics Application Note draft for pubmed-client
  paper/paper.md
Due: dprint-fmt

Fix 159 failing doc tests (#141)
  .github/workflows/test.yml
  .mise.toml
  pubmed-client/src/common/ids.rs
  pubmed-client/src/common/xml_utils.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client/citmatch.rs
  pubmed-client/src/pubmed/client/egquery.rs
  pubmed-client/src/pubmed/client/einfo.rs
  pubmed-client/src/pubmed/client/elink.rs
  pubmed-client/src/pubmed/client/espell.rs
  pubmed-client/src/pubmed/client/history.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/src/pubmed/client/summary.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser/batch.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/query/advanced.rs
  pubmed-client/src/pubmed/query/boolean.rs
  pubmed-client/src/pubmed/query/builder.rs
  pubmed-client/src/pubmed/query/dates.rs
  pubmed-client/src/pubmed/query/mod.rs
  pubmed-client/src/pubmed/query/search.rs
  pubmed-client/src/pubmed/query/validation.rs
  pubmed-client/src/rate_limit.rs
  pubmed-client/src/time.rs
Due: cargo-fmt, dprint-fmt

replace pubmed-client-rs to pubmed-client
  pubmed-client-py/examples/README.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-wasm/package.json
  pubmed-client/src/config.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/rate_limiting.rs
  pubmed-client/tests/integration/common/integration_test_utils.rs
  website/docusaurus.config.ts
  website/package.json
  website/src/pages/index.tsx
  website/tsconfig.json
Due: cargo-fmt, dprint-fmt

docus
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  website/.gitignore
  website/biome.json
  website/docusaurus.config.ts
  website/package.json
  website/pnpm-lock.yaml
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/tsconfig.json
Due: dprint-fmt

Feature/docs updates (#142)
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  pubmed-client-py/examples/README.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-wasm/package.json
  pubmed-client/src/config.rs
  pubmed-client/src/pubmed/client/mod.rs
  pubmed-client/tests/integration/api/error_handling.rs
  pubmed-client/tests/integration/api/rate_limiting.rs
  pubmed-client/tests/integration/common/integration_test_utils.rs
  website/.gitignore
  website/biome.json
  website/docusaurus.config.ts
  website/package.json
  website/pnpm-lock.yaml
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/tsconfig.json
Due: cargo-fmt, dprint-fmt

fix
  website/docusaurus.config.ts
Due: none

fix (#143)
  website/docusaurus.config.ts
Due: none

fix
  website/src/pages/index.tsx
Due: none

update
  CLAUDE.md
  website/src/pages/index.tsx
Due: dprint-fmt

Fix/rust docs not found 1 (#144)
  CLAUDE.md
  website/src/pages/index.tsx
Due: dprint-fmt

Added nodejs docs
  .github/workflows/docs.yml
  CLAUDE.md
  pubmed-client-napi/.gitignore
  pubmed-client-napi/biome.json
  pubmed-client-napi/package.json
  pubmed-client-napi/tsconfig.typedoc.json
  pubmed-client-napi/typedoc.json
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: dprint-fmt

Added nodejs docs (#145)
  .github/workflows/docs.yml
  CLAUDE.md
  pubmed-client-napi/.gitignore
  pubmed-client-napi/biome.json
  pubmed-client-napi/package.json
  pubmed-client-napi/tsconfig.typedoc.json
  pubmed-client-napi/typedoc.json
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: dprint-fmt

feat(cache): add Redis and SQLite backends via optional features
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/config.rs
Due: cargo-fmt, dprint-fmt

fix(cache): use derive Default for CacheBackendConfig
  pubmed-client/src/cache.rs
Due: cargo-fmt

fix(cache): add ..Default::default() to CacheConfig in mocked tests
  pubmed-client/tests/integration/mocked/cache.rs
Due: cargo-fmt

pythondos
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  pubmed-client-py/docs/Makefile
  pubmed-client-py/docs/source/api.rst
  pubmed-client-py/docs/source/conf.py
  pubmed-client-py/docs/source/index.md
  pubmed-client-py/docs/source/quickstart.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: dprint-fmt

refactor(cache): replace enum dispatch with async_trait + TypedCache<V>
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/lib.rs
Due: cargo-fmt, dprint-fmt

feat(cache): add Redis and SQLite backends via optional features (#146)
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/tests/integration/mocked/cache.rs
Due: cargo-fmt, dprint-fmt

fix docserror
  pubmed-client-napi/.gitignore
  pubmed-client-napi/pnpm-lock.yaml
Due: dprint-fmt

Docs/python (#147)
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  pubmed-client-napi/.gitignore
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-py/docs/Makefile
  pubmed-client-py/docs/source/api.rst
  pubmed-client-py/docs/source/conf.py
  pubmed-client-py/docs/source/index.md
  pubmed-client-py/docs/source/quickstart.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: dprint-fmt

codecov
  .github/workflows/test.yml
  codecov.yml
Due: dprint-fmt

fixdocs
  .github/workflows/docs.yml
Due: dprint-fmt

Testing/codecov (#148)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  codecov.yml
Due: dprint-fmt

update README and Documentations
  LICENSE
  README.md
  website/src/pages/index.tsx
Due: dprint-fmt

update README and Documentations (#149)
  LICENSE
  README.md
  website/src/pages/index.tsx
Due: dprint-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
