Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

remove unused workflow
  .github/workflows/python.yml
Due: dprint-fmt

fix cis
  .github/workflows/test.yml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt, dprint-fmt

fix typing issues
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
Due: none

feat: add comprehensive Python CI workflow (#58)
  .github/workflows/python.yml
  .github/workflows/test.yml
  .mise.toml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt, dprint-fmt

docs: add comprehensive repository review
  REPOSITORY_REVIEW.md
Due: dprint-fmt

examples for python binding
  pubmed-client-py/examples/01_fetch_pubmed_metadata.py
  pubmed-client-py/examples/02_fetch_pmc_fulltext.py
  pubmed-client-py/examples/03_search_pubmed.py
  pubmed-client-py/examples/04_citation_analysis.py
  pubmed-client-py/examples/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/pyproject.toml
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt, dprint-fmt

fix linting issues
  .github/workflows/test.yml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
Due: cargo-fmt, dprint-fmt

examples for python binding (#59)
  .github/workflows/test.yml
  pubmed-client-py/examples/01_fetch_pubmed_metadata.py
  pubmed-client-py/examples/02_fetch_pmc_fulltext.py
  pubmed-client-py/examples/03_search_pubmed.py
  pubmed-client-py/examples/04_citation_analysis.py
  pubmed-client-py/examples/README.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt, dprint-fmt

fix
  .github/workflows/python-publish.yml
  rust-toolchain.toml
Due: dprint-fmt

fix
  .mise.toml
Due: dprint-fmt

setuptest
  .github/workflows/test.yml
  .mise.toml
  etc/setup-test.sh
Due: dprint-fmt

fxi
  .mise.toml
Due: dprint-fmt

workflow pypi (#60)
  .github/workflows/python-publish.yml
  .github/workflows/test.yml
  .mise.toml
  etc/setup-test.sh
  rust-toolchain.toml
Due: dprint-fmt

fix pypi workflow
  .github/workflows/python-publish.yml
Due: dprint-fmt

fix workflow
  .github/workflows/python-publish.yml
Due: dprint-fmt

fix
  .github/workflows/python-publish.yml
Due: dprint-fmt

fix
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

fix
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt, dprint-fmt

bump rust version
  rust-toolchain.toml
Due: dprint-fmt

fix lint issues
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/responses.rs
Due: cargo-fmt

fix pypi workflow (#61)
  .github/workflows/python-publish.yml
  pubmed-client-py/pyproject.toml
  pubmed-client-py/uv.lock
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/src/pubmed/responses.rs
  rust-toolchain.toml
Due: cargo-fmt, dprint-fmt

write mcp server
  .github/workflows/test-mcp-server.yml
  Cargo.lock
  Cargo.toml
  pubmed-mcp-server/Cargo.toml
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

write mcp server (#62)
  .github/workflows/test-mcp-server.yml
  Cargo.lock
  Cargo.toml
  pubmed-mcp-server/Cargo.toml
  pubmed-mcp-server/README.md
  pubmed-mcp-server/src/main.rs
  pubmed-mcp-server/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

update CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

update CLAUDE.md (#63)
  CLAUDE.md
Due: dprint-fmt

update python ci
  .github/workflows/python.yml
Due: dprint-fmt

update python ci (#64)
  .github/workflows/python.yml
Due: dprint-fmt
