Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

fix: Correct negative limit test and remove debug code
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
Due: cargo-fmt

docs: Add comprehensive maturin best practices to CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

chore: Apply dprint formatting to CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

chore: update dprint config and agent context for query builder feature (#82)
  CLAUDE.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt, dprint-fmt

docs: update agent context for Python search filters feature
  CLAUDE.md
Due: dprint-fmt

style: Apply cargo fmt to error tests
  pubmed-client/src/error.rs
Due: cargo-fmt

Improve core library test coverage (#77)
  dprint.json
  etc/check_lfs_tracking.sh
  pubmed-client/src/error.rs
Due: cargo-fmt, dprint-fmt

feat(python): add date filtering implementation (partial - build issue)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt

fix(python): use raw string for regex pattern in test
  pubmed-client-py/tests/test_query.py
Due: none

feat(python): complete date filtering implementation (Phase 3)
  CLAUDE.md
  pubmed-client-py/src/query.rs
Due: cargo-fmt, dprint-fmt

feat(python): add article type filtering (Phase 4)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt

fix(python): use tuple for pytest.mark.parametrize
  pubmed-client-py/tests/test_query.py
Due: none

feat(python): add open access filtering (Phase 5)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt

Add search filters for study type and date (#84)
  CLAUDE.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
  pubmed-client-py/tests/test_query_integration.py
Due: cargo-fmt, dprint-fmt

chore(wasm): update Biome to 2.3.5 and migrate ignore patterns
  pubmed-client-wasm/.biomeignore
  pubmed-client-wasm/biome.json
  pubmed-client-wasm/package.json
  pubmed-client-wasm/pnpm-lock.yaml
Due: dprint-fmt

Add --pmc-only flag to CLI search command
  pubmed-cli/src/commands/search.rs
Due: cargo-fmt

feat(python): add Union[str, SearchQuery] support for search methods
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/query.rs
Due: cargo-fmt

chore(wasm): migrate from .biomeignore to !** pattern in biome.json
  .claude/settings.json
  pubmed-client-wasm/.biomeignore
  pubmed-client-wasm/biome.json
Due: dprint-fmt

feat(python): add Union[str, SearchQuery] support for search methods (#86)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/query.rs
Due: cargo-fmt

Add --pmc-only flag to CLI search command (#85)
  pubmed-cli/src/commands/search.rs
Due: cargo-fmt

docs(python): research automating stub generation with maturin
  pubmed-client-py/STUB_GENERATION_RESEARCH.md
Due: dprint-fmt

feat(python): implement MVP for semi-automated stub generation
  CLAUDE.md
  pubmed-client-py/STUB_GENERATION_MVP.md
  pubmed-client-py/scripts/generate_stubs.sh
  pubmed-client-py/scripts/inspect_module.py
Due: dprint-fmt

feat(python): upgrade PyO3 0.23 -> 0.26 + pyo3-stub-gen infrastructure
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  pubmed-client-py/AUTOMATION_UPGRADE.md
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/bin/stub_gen.rs
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/lib.rs
Due: cargo-fmt, dprint-fmt

chore(python): upgrade PyO3 to 0.27.1 and fix deprecation warnings
  Cargo.lock
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/models.rs
Due: cargo-fmt, dprint-fmt

chore(python): upgrade PyO3 to 0.27.1 and fix deprecation warnings (#89)
  Cargo.lock
  pubmed-client-py/Cargo.toml
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/models.rs
Due: cargo-fmt, dprint-fmt

feat(python): add pyo3-stub-gen for automatic type stub generation
  CLAUDE.md
  Cargo.lock
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/bin/stub_gen.rs
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/query.rs
Due: cargo-fmt, dprint-fmt

chore(python): exclude generated stub file from ruff linting
  CLAUDE.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

Add PyO3 stub generation automation (#90)
  CLAUDE.md
  Cargo.lock
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/bin/stub_gen.rs
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/config.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/src/pubmed/client.rs
  pubmed-client-py/src/pubmed/models.rs
  pubmed-client-py/src/query.rs
Due: cargo-fmt, dprint-fmt

refactor(pubmed): modularize PubMed parser into organized submodules
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/deserializers.rs
  pubmed-client/src/pubmed/parser/extractors.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/parser/preprocessing.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

fix(pubmed/parser): remove redundant explicit link in documentation
  pubmed-client/src/pubmed/parser/mod.rs
Due: cargo-fmt

Refactor pubmed parser (#91)
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/src/pubmed/parser/converters.rs
  pubmed-client/src/pubmed/parser/deserializers.rs
  pubmed-client/src/pubmed/parser/extractors.rs
  pubmed-client/src/pubmed/parser/mod.rs
  pubmed-client/src/pubmed/parser/preprocessing.rs
  pubmed-client/src/pubmed/parser/xml_types.rs
Due: cargo-fmt

add skills
  .claude/skills/maturin-debugger/SKILL.md
  .claude/skills/maturin-debugger/references/maturin_best_practices.md
  .claude/skills/maturin-debugger/scripts/diagnose_maturin.py
  .claude/skills/maturin-debugger/scripts/verify_module_registration.py
  maturin-debugger.zip
Due: dprint-fmt

update skills
  .claude/skills/maturin-debugger/SKILL.md
  .claude/skills/maturin-debugger/references/maturin_best_practices.md
  .claude/skills/maturin-debugger/ruff.toml
  .claude/skills/maturin-debugger/scripts/diagnose_maturin.py
  .claude/skills/maturin-debugger/scripts/verify_module_registration.py
  CLAUDE.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt, dprint-fmt

restore hooks
  .claude/settings.json
  pubmed-client-wasm/pnpm-lock.yaml
Due: dprint-fmt

remove
  maturin-debugger.zip
Due: none

chore(wasm): update Biome to 2.3.5 and migrate ignore patterns (#87)
  pubmed-client-wasm/biome.json
  pubmed-client-wasm/package.json
  pubmed-client-wasm/pnpm-lock.yaml
Due: dprint-fmt

Feature/download tar feature (#92)
  .claude/skills/maturin-debugger/SKILL.md
  .claude/skills/maturin-debugger/references/maturin_best_practices.md
  .claude/skills/maturin-debugger/ruff.toml
  .claude/skills/maturin-debugger/scripts/diagnose_maturin.py
  .claude/skills/maturin-debugger/scripts/verify_module_registration.py
  CLAUDE.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt, dprint-fmt

test: add comprehensive parser coverage test for PubMed articles
  PARSER_COVERAGE_REPORT.md
  pubmed-client/Cargo.toml
  pubmed-client/tests/integration/test_parser_coverage.rs
Due: cargo-fmt, dprint-fmt

feat(python): add boolean operations (AND, OR, NOT) to SearchQuery
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
Due: cargo-fmt

feat(python): add boolean operations (AND, OR, NOT) to SearchQuery (#93)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
Due: cargo-fmt
