Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: dprint fmt
  language: system
  pass_filenames: false

pmid to pmcids (#42)
  .mise.toml
  CLAUDE.md
  Cargo.lock
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client-wasm/Cargo.toml
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/tests/simple.test.ts
  rust-toolchain.toml
Due: cargo-fmt, dprint-fmt

refactoring: remove empty struct
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/metadata.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
  pubmed-client/tests/integration/markdown_tests.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
Due: cargo-fmt

update CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

Feature/remove empty struct (#43)
  CLAUDE.md
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/metadata.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/src/pmc/tar.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/mod.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
  pubmed-client/tests/integration/markdown_tests.rs
  pubmed-client/tests/integration/pmc_xml_tests.rs
  pubmed-client/tests/integration/test_abstract_parsing.rs
  pubmed-client/tests/integration/test_supplementary_materials.rs
Due: cargo-fmt, dprint-fmt

fix
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/dates.rs
Due: cargo-fmt

author-parse-quickxml (#44)
  pubmed-client/src/config.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/models.rs
  pubmed-client/src/pubmed/query/dates.rs
Due: cargo-fmt

update for reference
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

update for reference (#45)
  pubmed-client/src/pmc/parser/mod.rs
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

update for pubmed xml parsing
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

update for pubmed xml parsing (#46)
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

fix: improve error handling and temporary directory management in figures command
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

fix: separate logging from stdout in CLI commands
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

lint fix
  .claude/settings.json
  CLAUDE.md
  pubmed-cli/src/commands/figures.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt, dprint-fmt

fix
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt, dprint-fmt

fix
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

fix: separate logging from stdout in CLI commands (#47)
  .claude/settings.json
  CLAUDE.md
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/search.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/parser/reference.rs
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt, dprint-fmt

wip
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/responses.rs
Due: cargo-fmt, dprint-fmt

s3 storage (#48)
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/convert.rs
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/error.rs
  pubmed-client/src/pubmed/client.rs
  pubmed-client/src/pubmed/responses.rs
Due: cargo-fmt, dprint-fmt

fix api params
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

remove dupilicate error handling
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

fix api params (#49)
  pubmed-client/src/pubmed/client.rs
Due: cargo-fmt

fix invalid search tag
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/advanced.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/search.rs
Due: cargo-fmt

fix claude.md
  CLAUDE.md
Due: dprint-fmt

fix invalid search tag (#50)
  CLAUDE.md
  pubmed-cli/src/commands/search.rs
  pubmed-client/src/pubmed/query/advanced.rs
  pubmed-client/src/pubmed/query/filters.rs
  pubmed-client/src/pubmed/query/search.rs
Due: cargo-fmt, dprint-fmt

fix: GitHub Actions CI failures - lint, tests, and API rate limits
  .github/workflows/test.yml
  pubmed-cli/src/commands/search.rs
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/tests/integration/common/mod.rs
Due: cargo-fmt, dprint-fmt

fix: Handle API errors and Git LFS issues in CI tests
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt

fix: Properly configure Git LFS in GitHub Actions
  .github/workflows/test.yml
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/tests/integration/common/mod.rs
  pubmed-client/tests/integration/comprehensive_pmc_tests.rs
  pubmed-client/tests/integration/comprehensive_pubmed_tests.rs
Due: cargo-fmt, dprint-fmt

fix: Improve WASM test error handling for network issues
  pubmed-client-wasm/tests/simple.test.ts
Due: none

fix: Configure Git LFS for XML test data files
  .gitattributes
Due: none

fix
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

fix mock
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
Due: cargo-fmt

fix not required codes
  pubmed-client/src/pmc/parser/author.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
