Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: dprint fmt
  language: system
  pass_filenames: false

remove legacy gitattribute
  .gitattributes
Due: none

fix
  pubmed-client-wasm/tests/simple.test.ts
Due: none

fix: GitHub Actions CI failures - lint, tests, and API rate limits (#51)
  .gitattributes
  .github/workflows/test.yml
  pubmed-cli/src/commands/search.rs
  pubmed-client-wasm/tests/simple.test.ts
  pubmed-client/src/pmc/parser/author.rs
  pubmed-client/src/pubmed/parser.rs
  pubmed-client/tests/integration/test_rate_limiting_mocked.rs
Due: cargo-fmt, dprint-fmt

minor update for figures
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/retry.rs
Due: cargo-fmt

update figure section logic
  .claude/commands/figtest.md
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10455298.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC11084381.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC7906746.xml
  pubmed-client/tests/integration/test_figure_extraction.rs
Due: cargo-fmt, dprint-fmt

minor update for figures
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

fix
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

added formatted error report
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

fix for test
  pubmed-client/src/pmc/parser/metadata.rs
Due: cargo-fmt

Feature/fix pubmed cli figures (#52)
  .claude/commands/figtest.md
  Cargo.lock
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-cli/src/main.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/parser/metadata.rs
  pubmed-client/src/pmc/parser/section.rs
  pubmed-client/src/retry.rs
  pubmed-client/tests/integration/test_data/pmc_xml/PMC10455298.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC11084381.xml
  pubmed-client/tests/integration/test_data/pmc_xml/PMC7906746.xml
  pubmed-client/tests/integration/test_figure_extraction.rs
Due: cargo-fmt, dprint-fmt

progessbar for figures
  Cargo.lock
  dprint.json
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt, dprint-fmt

chore
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt, dprint-fmt

chore
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

refactor
  pubmed-cli/src/commands/figures.rs
Due: cargo-fmt

progessbar for figures (#53)
  Cargo.lock
  dprint.json
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/figures.rs
  pubmed-cli/src/main.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/tar.rs
Due: cargo-fmt, dprint-fmt

feat: add metadata command for PMC article metadata extraction
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

feat: add metadata command for PMC article metadata extraction (#54)
  pubmed-cli/src/commands/metadata.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/main.rs
Due: cargo-fmt

update
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

feat: initialize Python bindings with maturin and uv
  .gitignore
  .mise.toml
  Cargo.lock
  Cargo.toml
  pubmed-client-py/.python-version
  pubmed-client-py/Cargo.toml
  pubmed-client-py/README.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

refactor: improve Python bindings configuration
  .gitignore
  .mise.toml
  pubmed-client-py/.python-version
Due: dprint-fmt

chore: update Python version requirement to 3.12
  pubmed-client-py/README.md
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

update pyproject.toml
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

feat: initialize Python bindings with maturin and uv (#56)
  .gitignore
  .mise.toml
  Cargo.lock
  Cargo.toml
  pubmed-client-py/Cargo.toml
  pubmed-client-py/README.md
  pubmed-client-py/pyproject.toml
  pubmed-client-py/src/lib.rs
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

feat: implement Python bindings with PyO3 and comprehensive test suite
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pyproject.toml
  pubmed-client-py/pytest.ini
  pubmed-client-py/src/lib.rs
  pubmed-client-py/tests/README.md
  pubmed-client-py/tests/__init__.py
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

feat: add comprehensive type stubs for full IDE and mypy support
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/py.typed
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

docs: add comprehensive Python bindings documentation to CLAUDE.md
  CLAUDE.md
Due: dprint-fmt

style: fix all ruff linting warnings (199 → 0)
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/pyproject.toml
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
Due: dprint-fmt

update (#55)
  pubmed-client/src/pmc/parser/reference.rs
Due: cargo-fmt

feat: add comprehensive Python CI workflow and development tasks
  .github/workflows/python.yml
  .mise.toml
  pubmed-client-py/pyproject.toml
Due: dprint-fmt

feat: Python bindings with PyO3 and comprehensive test suite (#57)
  CLAUDE.md
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/py.typed
  pubmed-client-py/pyproject.toml
  pubmed-client-py/pytest.ini
  pubmed-client-py/src/lib.rs
  pubmed-client-py/tests/README.md
  pubmed-client-py/tests/__init__.py
  pubmed-client-py/tests/conftest.py
  pubmed-client-py/tests/test_client.py
  pubmed-client-py/tests/test_config.py
  pubmed-client-py/tests/test_integration.py
  pubmed-client-py/tests/test_models.py
  pubmed-client-py/uv.lock
Due: cargo-fmt, dprint-fmt

fix: handle abstracts with inline HTML tags in PubMed XML parser
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

fix: resolve clippy warnings in abstract parser
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

test: add comprehensive tests for inline HTML tags in abstracts
  pubmed-client/src/pubmed/parser.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
