Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$|Cargo.lock$|pnpm-lock.yaml$|uv.lock$|.*\\.snap$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

refactor: dedupe Europe PMC pagination, cover cache backends, refresh docs
  .claude/skills/code-health/SKILL.md
  .github/workflows/ci-rust.yml
  CLAUDE.md
  mise.rust.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/europe_pmc/citations.rs
  pubmed-client/src/europe_pmc/links.rs
  pubmed-client/src/europe_pmc/mod.rs
  pubmed-client/src/europe_pmc/paged.rs
  pubmed-client/src/europe_pmc/references.rs
Due: cargo-fmt, dprint-fmt

refactor: dedupe Europe PMC pagination, cover cache backends, refresh docs (#255)
  .claude/skills/code-health/SKILL.md
  .github/workflows/ci-rust.yml
  CLAUDE.md
  mise.rust.toml
  pubmed-client/src/cache.rs
  pubmed-client/src/europe_pmc/citations.rs
  pubmed-client/src/europe_pmc/links.rs
  pubmed-client/src/europe_pmc/mod.rs
  pubmed-client/src/europe_pmc/paged.rs
  pubmed-client/src/europe_pmc/references.rs
Due: cargo-fmt, dprint-fmt

refactor(parser): split pmc/parser/section.rs into per-element modules
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/src/pmc/parser/section/abstracts.rs
  pubmed-parser/src/pmc/parser/section/body.rs
  pubmed-parser/src/pmc/parser/section/figure.rs
  pubmed-parser/src/pmc/parser/section/mod.rs
  pubmed-parser/src/pmc/parser/section/paragraph.rs
  pubmed-parser/src/pmc/parser/section/table.rs
Due: cargo-fmt

refactor: narrow parser helper visibility, drop vestigial re-export module
  pubmed-client/src/pmc/client.rs
  pubmed-parser/src/common/mod.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/xml_utils.rs
Due: cargo-fmt

Refactor section parser into modular submodules (#256)
  pubmed-client/src/pmc/client.rs
  pubmed-parser/src/common/mod.rs
  pubmed-parser/src/common/xml_utils.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/section.rs
  pubmed-parser/src/pmc/parser/section/abstracts.rs
  pubmed-parser/src/pmc/parser/section/body.rs
  pubmed-parser/src/pmc/parser/section/figure.rs
  pubmed-parser/src/pmc/parser/section/mod.rs
  pubmed-parser/src/pmc/parser/section/paragraph.rs
  pubmed-parser/src/pmc/parser/section/table.rs
  pubmed-parser/src/pmc/parser/xml_utils.rs
Due: cargo-fmt

chore: unblock dependency upgrades across all ecosystems
  dprint.json
  pubmed-client-py/examples/02_fetch_pmc_fulltext.py
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/tsconfig.json
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  website/tsconfig.json
Due: cargo-fmt, dprint-fmt

chore: unblock dependency upgrades across all ecosystems (#257)
  dprint.json
  pubmed-client-py/examples/02_fetch_pmc_fulltext.py
  pubmed-client-py/pyproject.toml
  pubmed-client-wasm/tsconfig.json
  pubmed-parser/benches/pmc_parsing.rs
  pubmed-parser/benches/pubmed_parsing.rs
  website/tsconfig.json
Due: cargo-fmt, dprint-fmt

chore(deps): bump TypeScript 7, @types/node 26, happy-dom 20, React 19
  pubmed-client-napi/package.json
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-wasm/package.json
  pubmed-client-wasm/pnpm-lock.yaml
  website/package.json
  website/pnpm-lock.yaml
Due: dprint-fmt

chore(deps): bump TypeScript 7, @types/node 26, happy-dom 20, React 19 (#258)
  pubmed-client-napi/package.json
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-wasm/package.json
  pubmed-client-wasm/pnpm-lock.yaml
  website/package.json
  website/pnpm-lock.yaml
Due: dprint-fmt

Upgrade rmcp from 0.16 to 3.1
  Cargo.lock
  pubmed-mcp/Cargo.toml
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

Upgrade rmcp from 0.16 to 3.1 (#271)
  Cargo.lock
  pubmed-mcp/Cargo.toml
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): release pubmed-mcp as a container image on GHCR
  .dockerignore
  .github/workflows/_publish-docker.yml
  .github/workflows/ci-docker.yml
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  RELEASING.md
  pubmed-mcp/Dockerfile
  pubmed-mcp/README.md
Due: dprint-fmt

feat(mcp): release pubmed-mcp as a container image on GHCR (#276)
  .dockerignore
  .github/workflows/_publish-docker.yml
  .github/workflows/ci-docker.yml
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  RELEASING.md
  pubmed-mcp/Dockerfile
  pubmed-mcp/README.md
Due: dprint-fmt

fix(napi): migrate tsconfig moduleResolution off deprecated node10
  pubmed-client-napi/tsconfig.json
  pubmed-client-napi/tsconfig.typedoc.json
Due: dprint-fmt

fix(napi): migrate tsconfig moduleResolution off deprecated node10 (#292)
  pubmed-client-napi/tsconfig.json
  pubmed-client-napi/tsconfig.typedoc.json
Due: dprint-fmt

feat(mcp): expose Europe PMC search, full text and citation graphs
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/europe_pmc.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): configure the client via CLI flags and environment variables
  CLAUDE.md
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/config.rs
  pubmed-mcp/src/main.rs
Due: cargo-fmt, dprint-fmt

feat(python): expand SearchQuery builder to match the core builder
  pubmed-client-py/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
Due: cargo-fmt, dprint-fmt

feat(napi): expose rate limit/cache config and missing query builder methods
  pubmed-client-napi/README.md
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/client.rs
  pubmed-client-napi/src/config.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/src/query.rs
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/search-query.test.ts
Due: cargo-fmt, dprint-fmt

feat(mcp): add fetch_articles tool for full PubMed records by PMID
  CLAUDE.md
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/articles.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(python): expose the Europe PMC client
  pubmed-client-py/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/client.rs
  pubmed-client-py/src/europe_pmc/client.rs
  pubmed-client-py/src/europe_pmc/mod.rs
  pubmed-client-py/src/europe_pmc/models.rs
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/utils.rs
  pubmed-client-py/tests/test_europe_pmc.py
  pubmed-client/src/europe_pmc/fulltext.rs
  pubmed-client/src/europe_pmc/supplementary.rs
  pubmed-client/tests/integration/mocked/europe_pmc.rs
Due: cargo-fmt, dprint-fmt

feat(cli): add europe-pmc subcommands
  README.md
  pubmed-cli/src/commands/europe_pmc.rs
  pubmed-cli/src/commands/mod.rs
  pubmed-cli/src/commands/output.rs
  pubmed-cli/src/main.rs
  pubmed-mcp/src/tools/europe_pmc.rs
Due: cargo-fmt, dprint-fmt

chore(napi): exempt generated index.d.ts from the Biome formatter
  pubmed-client-napi/biome.json
Due: dprint-fmt

feat(napi,wasm): expose the Europe PMC client
  Cargo.lock
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/README.md
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/client.rs
  pubmed-client-napi/src/europe_pmc.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/tests/europe-pmc.test.ts
  pubmed-client-wasm/README.md
  pubmed-client-wasm/src/client.rs
  pubmed-client-wasm/src/lib.rs
  pubmed-client-wasm/src/models.rs
  pubmed-client-wasm/tests/europe-pmc.test.ts
Due: cargo-fmt, dprint-fmt

fix(mcp): keep the server description in --help
  pubmed-mcp/src/config.rs
  pubmed-mcp/src/main.rs
Due: cargo-fmt

feat(go): expose the Europe PMC client
  pubmed-client-go/README.md
  pubmed-client-go/client.go
  pubmed-client-go/europe_pmc.go
  pubmed-client-go/europe_pmc_test.go
  pubmed-client-go/ffi.go
  pubmed-client-go/include/pubmed_client.h
  pubmed-client-go/integration_test.go
  pubmed-client-go/models.go
  pubmed-client-go/rust/src/client.rs
  pubmed-client-go/rust/src/dto.rs
  pubmed-client-go/rust/src/europe_pmc.rs
  pubmed-client-go/rust/src/lib.rs
Due: cargo-fmt, dprint-fmt

feat(r): expose the Europe PMC client
  pubmed-client-r/.gitignore
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/NAMESPACE
  pubmed-client-r/R/extendr-wrappers.R
  pubmed-client-r/R/pubmed-client.R
  pubmed-client-r/README.md
  pubmed-client-r/man/europepmc_citations.Rd
  pubmed-client-r/man/europepmc_database_links.Rd
  pubmed-client-r/man/europepmc_fulltext.Rd
  pubmed-client-r/man/europepmc_fulltext_xml.Rd
  pubmed-client-r/man/europepmc_references.Rd
  pubmed-client-r/man/europepmc_search.Rd
  pubmed-client-r/man/pubmedclient-package.Rd
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-r/src/rust/src/lib.rs
  pubmed-client-r/tests/testthat/test-client.R
  pubmed-client-r/tests/testthat/test-integration.R
Due: cargo-fmt, dprint-fmt

docs: fix rustdoc lints in the new Europe PMC doc comments
  pubmed-cli/src/commands/europe_pmc.rs
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/europe_pmc/client.rs
Due: cargo-fmt

Add fetch_articles tool and configurable client for pubmed-mcp (#295)
  CLAUDE.md
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/config.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/articles.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(python): expand SearchQuery builder to match the core builder (#294)
  pubmed-client-py/README.md
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/query.rs
  pubmed-client-py/tests/test_query.py
Due: cargo-fmt, dprint-fmt

Add date filtering, journal metadata, organism MeSH, and query validation to SearchQuery (#293)
  pubmed-client-napi/README.md
  pubmed-client-napi/biome.json
  pubmed-client-napi/index.d.ts
  pubmed-client-napi/src/client.rs
  pubmed-client-napi/src/config.rs
  pubmed-client-napi/src/lib.rs
  pubmed-client-napi/src/query.rs
  pubmed-client-napi/tests/client.test.ts
  pubmed-client-napi/tests/search-query.test.ts
Due: cargo-fmt, dprint-fmt

refactor(europe-pmc): move (source, id) resolution into the core crate
  pubmed-client-go/rust/src/europe_pmc.rs
  pubmed-client-napi/src/europe_pmc.rs
  pubmed-client-py/src/europe_pmc/mod.rs
  pubmed-client-wasm/src/client.rs
  pubmed-client/src/europe_pmc/id.rs
  pubmed-mcp/src/tools/europe_pmc.rs
Due: cargo-fmt

fix(python): build pyo3 with extension-module only for the wheel
  pubmed-cli/src/commands/europe_pmc.rs
  pubmed-client-napi/tests/europe-pmc.test.ts
  pubmed-client-py/Cargo.toml
  pubmed-client-py/pyproject.toml
  pubmed-client-py/tests/test_europe_pmc.py
Due: cargo-fmt, dprint-fmt

ci: keep pubmed-client-py out of the --all-features test runs
  .github/workflows/ci-rust.yml
  .github/workflows/release.yml
  mise.rust.toml
Due: dprint-fmt

chore(deps): batch Dependabot dependency updates
  Cargo.lock
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
  website/package.json
  website/pnpm-lock.yaml
Due: dprint-fmt

chore(deps): batch Dependabot dependency updates (#297)
  Cargo.lock
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/pnpm-lock.yaml
  pubmed-client-wasm/Cargo.toml
  pubmed-client/Cargo.toml
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
  website/package.json
  website/pnpm-lock.yaml
Due: dprint-fmt

release: v0.4.0
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-wasm/package.json
Due: dprint-fmt

release: v0.4.0 (#298)
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-wasm/package.json
Due: dprint-fmt

fix(ci): release の nextest インストールに tool 入力を渡す
  .github/workflows/release.yml
Due: dprint-fmt
