Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

dprint-fmt:
  name: dprint fmt
  entry: dprint fmt
  language: system
  pass_filenames: false

fix(ci): release の nextest インストールに tool 入力を渡す (#299)
  .github/workflows/release.yml
Due: dprint-fmt

feat(mcp): 全ツールを構造化出力 (structuredContent) に変更
  CLAUDE.md
  Cargo.lock
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/articles.rs
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/europe_pmc.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/output.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/src/tools/summary.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): 全ツールを構造化出力 (structuredContent) に変更 (#310)
  CLAUDE.md
  Cargo.lock
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/articles.rs
  pubmed-mcp/src/tools/citmatch.rs
  pubmed-mcp/src/tools/common.rs
  pubmed-mcp/src/tools/convert.rs
  pubmed-mcp/src/tools/einfo.rs
  pubmed-mcp/src/tools/elink.rs
  pubmed-mcp/src/tools/espell.rs
  pubmed-mcp/src/tools/europe_pmc.rs
  pubmed-mcp/src/tools/export.rs
  pubmed-mcp/src/tools/figures.rs
  pubmed-mcp/src/tools/fulltext.rs
  pubmed-mcp/src/tools/gquery.rs
  pubmed-mcp/src/tools/markdown.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/output.rs
  pubmed-mcp/src/tools/search.rs
  pubmed-mcp/src/tools/summary.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

fix(ci): Node.js バインディングの実 API テストを opt-in にする
  .github/workflows/integration-tests.yml
  CLAUDE.md
  pubmed-client-napi/tests/europe-pmc.test.ts
  pubmed-client-napi/tests/setup.ts
  pubmed-client-wasm/tests/europe-pmc.test.ts
  pubmed-client-wasm/tests/setup.ts
Due: dprint-fmt

fix(ci): Node.js バインディングの実 API テストを opt-in にする (#312)
  .github/workflows/integration-tests.yml
  CLAUDE.md
  pubmed-client-napi/tests/europe-pmc.test.ts
  pubmed-client-napi/tests/setup.ts
  pubmed-client-wasm/tests/europe-pmc.test.ts
  pubmed-client-wasm/tests/setup.ts
Due: dprint-fmt

perf(deps): 依存グラフを 229 → 158 クレートに削減
  CLAUDE.md
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/cloud.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: cargo-fmt, dprint-fmt

perf(deps): 依存グラフを 229 → 158 クレートに削減 (#313)
  CLAUDE.md
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/pmc/cloud.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap.new
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap.new
Due: cargo-fmt, dprint-fmt

feat(mcp): PMC の図・OA ファイルのダウンロードツールを追加 (#288)
  CLAUDE.md
  Cargo.lock
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/pmc/extracted.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/tests/integration/mocked/cloud.rs
  pubmed-mcp/Cargo.toml
  pubmed-mcp/README.md
  pubmed-mcp/src/config.rs
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/download.rs
  pubmed-mcp/src/tools/figure_images.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/src/tools/output.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(storage): ダウンロード先に object storage を指定できるようにする
  CLAUDE.md
  Cargo.lock
  pubmed-cli/Cargo.toml
  pubmed-cli/src/commands/markdown.rs
  pubmed-cli/src/commands/storage.rs
  pubmed-client/Cargo.toml
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/cloud.rs
  pubmed-client/src/storage/local.rs
  pubmed-client/src/storage/mod.rs
  pubmed-client/src/storage/s3.rs
  pubmed-client/tests/integration/mocked/cloud.rs
  pubmed-mcp/Cargo.toml
  pubmed-mcp/Dockerfile
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/download.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): ローカル保存をデフォルトでオフにする
  CLAUDE.md
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
  pubmed-mcp/src/tools/download.rs
  pubmed-mcp/src/tools/mod.rs
  pubmed-mcp/tests/integration_test.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): HTTP モードで受け付ける Host を --allowed-hosts で指定できるようにする
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
Due: cargo-fmt, dprint-fmt

feat(mcp): HTTP モードで受け付ける Host を --allowed-hosts で指定できるようにする (#316)
  pubmed-mcp/README.md
  pubmed-mcp/src/main.rs
Due: cargo-fmt, dprint-fmt

release: v0.4.1
  Cargo.lock
  Cargo.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-wasm/package.json
Due: dprint-fmt

docs(claude): fix stale paths, test targets and tool descriptions found by prompt audit
  .claude/agents/code-health.md
  .claude/commands/figtest.md
  .claude/skills/code-health/SKILL.md
  .claude/skills/design-domain-models/SKILL.md
  .claude/skills/pubmed-field-validator/SKILL.md
  CLAUDE.md
  pubmed-mcp/src/main.rs
Due: cargo-fmt, dprint-fmt

docs(claude): fix stale paths, test targets and tool descriptions found by prompt audit (#321)
  .claude/agents/code-health.md
  .claude/commands/figtest.md
  .claude/skills/code-health/SKILL.md
  .claude/skills/design-domain-models/SKILL.md
  .claude/skills/pubmed-field-validator/SKILL.md
  CLAUDE.md
  pubmed-mcp/src/main.rs
Due: cargo-fmt, dprint-fmt

ci(r): check the R package against the checkout, not crates.io
  .github/workflows/ci-r.yml
  CLAUDE.md
  pubmed-client-r/src/rust/Cargo.toml
Due: dprint-fmt

fix(lint): scope zizmor to .github so the audit can run
  mise.root.toml
Due: dprint-fmt

chore(release): sync the R package version too
  scripts/sync-versions.sh
Due: none

fix(hooks): let mise's pinned tools win the PATH in the stop hook
  .claude/hooks/stop.sh
Due: none

release: v0.4.1 (#317)
  .claude/hooks/stop.sh
  .github/workflows/ci-r.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  mise.root.toml
  pubmed-client-napi/package.json
  pubmed-client-py/pyproject.toml
  pubmed-client-r/DESCRIPTION
  pubmed-client-r/src/rust/Cargo.toml
  pubmed-client-wasm/package.json
  scripts/sync-versions.sh
Due: dprint-fmt

fix(release): make the dry-run environment conditional actually work
  .github/workflows/release.yml
Due: dprint-fmt

chore(dependabot): add a 7-day cooldown to every ecosystem
  .github/dependabot.yml
Due: dprint-fmt

fix(hooks): let mise's pinned tools win the PATH in session-start too
  .claude/hooks/session-start.sh
Due: none

chore(mise): bump zizmor 1.9.0 -> 1.29.0
  mise.root.toml
Due: dprint-fmt

fix(parser): harden PMC parsing against a 320-article real-world corpus
  pubmed-parser/examples/survey_pmc.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section/body.rs
  pubmed-parser/src/pmc/parser/section/figure.rs
  pubmed-parser/src/pmc/parser/section/mod.rs
  pubmed-parser/src/pmc/parser/section/table.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

fix(parser): harden PMC parsing against a 320-article real-world corpus (#323)
  pubmed-parser/examples/survey_pmc.rs
  pubmed-parser/src/pmc/parser/author.rs
  pubmed-parser/src/pmc/parser/metadata.rs
  pubmed-parser/src/pmc/parser/mod.rs
  pubmed-parser/src/pmc/parser/reader_utils.rs
  pubmed-parser/src/pmc/parser/reference.rs
  pubmed-parser/src/pmc/parser/section/body.rs
  pubmed-parser/src/pmc/parser/section/figure.rs
  pubmed-parser/src/pmc/parser/section/mod.rs
  pubmed-parser/src/pmc/parser/section/table.rs
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10000000.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC10821037.snap
  pubmed-parser/tests/integration/parsing/snapshots/pmc_snapshots__PMC7906746.snap
Due: cargo-fmt

chore: bump zizmor to 1.29.0 and fix what it finds (#322)
  .claude/hooks/session-start.sh
  .github/dependabot.yml
  .github/workflows/release.yml
  mise.root.toml
Due: dprint-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  dprint-fmt: any of: \.(json|toml|md|yaml|yml)$, but not: ^tests/integration/test_data/
