Repository illumination-k/pubmed-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dprint-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: "^tests/integration/test_data/"
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=100", "--enforce-all"]
        exclude: "^pubmed-client/tests/integration/test_data/.*\\.(xml|json)$"
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: dprint-fmt
        name: dprint fmt
        entry: mise exec -- dprint fmt
        language: system
        files: '\.(json|toml|md|yaml|yml)$'
        exclude: "^tests/integration/test_data/"
        pass_filenames: false

docs(python): update documentation for v0.0.2 release (#112)
  pubmed-client-py/README.md
  pubmed-client-py/examples/README.md
  pubmed-client-py/tests/README.md
Due: dprint-fmt

fix(napi): update config to new @napi-rs/cli v3.x format
  pubmed-client-napi/package.json
Due: dprint-fmt

fix(ci): use --use-napi-cross for Linux cross-compilation
  .github/workflows/napi.yml
Due: dprint-fmt

fix(ci): use zig + cargo-zigbuild for Linux cross-compilation
  .github/workflows/napi.yml
Due: dprint-fmt

b
  .github/workflows/napi.yml
Due: dprint-fmt

fix
  pubmed-client-napi/package.json
Due: dprint-fmt

fix
  .claude/commands/fix_ci.md
  .github/workflows/napi.yml
Due: dprint-fmt

bump napi in cargo.toml
  Cargo.lock
  pubmed-client-napi/Cargo.toml
Due: dprint-fmt

docs: update repository URLs in README files
  README.md
  pubmed-client-py/README.md
  pubmed-mcp/README.md
Due: dprint-fmt

docs: add napi-rs bindings documentation
  README.md
  pubmed-client-napi/README.md
Due: dprint-fmt

chore
  .claude/commands/fix_ci.md
  .github/workflows/napi.yml
  pubmed-client-napi/package.json
Due: dprint-fmt

chore
  .github/workflows/napi.yml
Due: dprint-fmt

Chore/workflow napi debug (#111)
  .claude/commands/fix_ci.md
  .github/workflows/napi.yml
  Cargo.lock
  pubmed-client-napi/Cargo.toml
  pubmed-client-napi/package.json
Due: dprint-fmt

docs: update repository URLs in README files (#113)
  README.md
  pubmed-client-napi/README.md
  pubmed-client-py/README.md
  pubmed-mcp/README.md
Due: dprint-fmt

fix release workflow (#114)
  .github/workflows/napi.yml
Due: dprint-fmt

remove node token with oidc
  .github/workflows/napi.yml
Due: dprint-fmt

f
  .github/workflows/napi.yml
Due: dprint-fmt

tagutils
  .github/workflows/napi.yml
  scripts/tag-utils.sh
Due: dprint-fmt

fix-napi-release-workflow (#115)
  .github/workflows/napi.yml
  scripts/tag-utils.sh
Due: dprint-fmt

chore:fix ci command
  .github/workflows/napi.yml
Due: dprint-fmt

update node version for fix
  .github/workflows/napi.yml
  pubmed-client-napi/package.json
Due: dprint-fmt

sha
  .github/workflows/napi.yml
Due: dprint-fmt

update node version for fix (#116)
  .github/workflows/napi.yml
  pubmed-client-napi/package.json
Due: dprint-fmt

bump version
  .github/workflows/napi.yml
  pubmed-client-napi/package.json
Due: dprint-fmt

bump version
  pubmed-client-napi/package.json
Due: dprint-fmt

bump version
  .github/workflows/napi.yml
Due: dprint-fmt

Chore/fix napi release workflow 2 (#117)
  .github/workflows/napi.yml
  pubmed-client-napi/package.json
Due: dprint-fmt

docs: update Node.js version requirement to >=20 in README
  pubmed-client-napi/README.md
Due: dprint-fmt

docs: update Node.js version requirement to >=20 in README (#118)
  pubmed-client-napi/README.md
Due: dprint-fmt

fix: enable proper rate limiting for WASM targets using gloo-timers
  Cargo.lock
  pubmed-client/Cargo.toml
  pubmed-client/src/time.rs
Due: cargo-fmt, dprint-fmt

oa subset check
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/models.rs
Due: cargo-fmt

napi
  pubmed-client-napi/src/lib.rs
Due: cargo-fmt

quickxml
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/oa_api.rs
Due: cargo-fmt

Feature/check oa subset (#120)
  pubmed-client-napi/src/lib.rs
  pubmed-client/src/lib.rs
  pubmed-client/src/pmc/client.rs
  pubmed-client/src/pmc/mod.rs
  pubmed-client/src/pmc/models.rs
  pubmed-client/src/pmc/oa_api.rs
Due: cargo-fmt

feat(python): add is_oa_subset method to PmcClient
  pubmed-client-py/pubmed_client.pyi
  pubmed-client-py/src/lib.rs
  pubmed-client-py/src/pmc/client.rs
  pubmed-client-py/src/pmc/mod.rs
  pubmed-client-py/src/pmc/models.rs
  pubmed-client-py/tests/test_integration.py
Due: cargo-fmt

chore: add pubmed_client_py/ build artifact to gitignore
  .gitignore
Due: none

a
  .gitignore
Due: none

remove speckit
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: dprint-fmt
